[2020-06-11 21:55] coeing opened #3 "Support for Thermostats"
As I have two at home, I'd like to add a handler for them to the binding.

The Bosch API can be found here:
https://apidocs.bosch-smarthome.com/local/index.html (Select a definition: Thermostat)

As the official API doesn't have endpoints to change the state of the device, the first version of the handler will contain:
- Providing the temperature measured at the device
- Providing the valve tappet

[2020-06-11 21:55] coeing commented on #3
@stefan-kaestle If you like you can set me as the Assignee already, I will start with the issue soon :)

[2020-06-12 12:55] stefan-kaestle commented on #3
Much appreciated, happy to have you helping with the binding :-)

[2020-06-15 17:32] GerdZanker opened #4 "Key/Cert Generation and Pairing during first setup"
During the first setup of teh Bosch SHC binding a KeyStore with the necessary key, cert and Bosch certs shall be created and the pairing between the Bosch SHC client and the SHC shall be executed.

If the hardware button is pressed, the Bosch SHC things are ready for usage. All manual key generation, registration, etc is done via Java code. Compare with the [command line calls](https://community.o

[2020-06-15 17:34] GerdZanker commented on #4
Initial code is working for me. I will prepare a PullRequest during the next days.

[2020-06-15 18:29] coeing opened #5 "Readme.md - Outdated paragraph "Binding Configuration""
From the Readme.md:

[code]

Not sure about this, but in my openHAB log the logs look like this:
[code]

[2020-06-15 18:30] coeing commented on #5
In any case the log file in which to find the logs should be written down, there are multiple (probably it's the main log at `${OPENHAB_CONF}/openhab.log`?)

[2020-06-15 18:36] coeing opened #6 "Exception logged when device is initialized"
Every time the binding is initialized (and with it the devices), I get an error inside the openhab.log:

[code]

First question would be: Does it only happen for my Shutter Control device due to my ShutterControlHandler? Or is it a general problem?

[2020-06-15 18:36] coeing commented on #6
@stefan-kaestle Would be nice if you could check if the exception is logged for you and another device as well :)

[2020-06-15 20:33] coeing opened #7 "Put each device in an own subfolder"
I already did it for the Shutter Control (shuttercontrol) and I think it would make the bundle cleaner now and when new devices arrive. I would do the refactoring but would like to hear your feedback first! :) Maybe there could be even a common parent folder "devices" to separate them from other areas, but that could also be another step later if we see that it's necessary.

[2020-06-15 20:45] coeing opened #8 "Create common "Service" classes that can be reused"
As I already mentioned I developed some functions inside the ShutterControlHandler that might be useful for other handlers as well.

As far as I see it, the Bosch developers separated their API by "services" instead of devices, so we should probably use the same separation to have an easy time to access the API.

For example there is a service "TemperatureLevel" which is the same for the devices "

[2020-06-16 08:00] Dfinity-skaestle commented on #6
I can have a look over the weekend I think :-)

[2020-06-16 08:00] stefan-kaestle commented on #6
I can have a look over the weekend :-)

[2020-06-16 21:05] coeing opened #10 "BoschSHCBindingConstants.java - Auto-generated code"
BoschSHCBindingConstants.java tells me about auto-generated code, but I can't see how to trigger the auto-generation.

Would be nice to have a hint there or in the Readme.md how to trigger the auto-generation because I always edited the code myself for the last changes.

[2020-06-16 21:14] coeing commented on #3
Right now I am adding the valve tappet position channel to the thermostat. I also created an issue about the possibility to set the desired temperature at a thermostat via the API: https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/35

TODOS:
- [ ] Valve Tappet Position channel
- [ ] Handle processUpdate method in a generic way be registering services on initialization of a handler

[2020-06-16 22:12] coeing commented on #3
Just received an answer about setting the desired temperature for a room. It is controlled via virtual RoomClimateControl devices (https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/35).

I will add a separate handler for those although they are no real things. But they are indeed separate from specific thermostats because you can have one RoomClimateControl controlling multiple thermosta

[2020-06-17 17:48] GerdZanker commented on #10
I guess the ``parse-things.py`` from the ``org.openhab.binding.boschshc`` is used to generate the snippets manually and the output is copied & pasted into the ``BoschSHCBindingConstants.java``

[2020-06-17 17:53] GerdZanker commented on #5
My small input
- it was confusing to read about "Binding Configuration" but need to enter the content into a ``*.things`` file.
- same for the "Thing configuration" which has to go into a ``*.items`` file

and it would be great if the openHAB log output could be copied & pasted into the ``*.things`` file, but currently the name and the ID are not surrounded by "".

[2020-06-18 18:41] stefan-kaestle commented on #10
I don't remember what that thing is to be honest. Seems incomplete.

Seems incomplete. Maybe you can just ignore that part :-P

[2020-06-18 18:43] stefan-kaestle commented on #5
I guess eventually, this should be done by the auto discovery. People will struggle if they need to dig in the logs :-)

[2020-06-22 21:45] coeing commented on #8
In the feature branch I added two services for the thermostat device:
- TemperatureLevelService
- ValveTappetService

Both are created, initialized and registered inside the ThermostatHandler::initialize method. This creates the connection between the service state and the channels of the handler.

Through this registration there is several state handling which can be done automatically:
- State u

[2020-06-22 21:54] coeing commented on #10
Okay, should we throw it out? I had a look at the script and the idea is okay, but I think it is not worth the work because the channel constants won't change very often once they are in :)

[2020-06-22 21:59] coeing opened #12 "Support for RoomClimateControls"
Once the thermostats are in, it would be great to have a way to set the desired temperature for a room.

This happens via virtual devices of the type "RoomClimateControl": https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/35

The API documentation can be found here: https://apidocs.bosch-smarthome.com/local/ -> Climate Control

The service is called RoomClimateControl as well and can rec

[2020-06-23 21:04] stefan-kaestle commented on #10
Yes, let's throw it out :-) I didn't even remember I had that script :-)

[2020-06-24 21:12] coeing commented on #8
The ThermostatHandler uses the new service and service state class architecture. We should use it for all future handlers as well and migrate the old handlers to it over time. This way we have a consistent way for all handlers.

[2020-06-24 21:12] #8 closed

[2020-06-24 21:13] coeing commented on #3
Pull request is merged, the new Thermostat binding is available :)

[2020-06-24 21:13] #3 closed

[2020-06-24 21:15] coeing commented on #7
This could go hand in hand with migrating the old handlers to the new service architecture (see #8).

[2020-06-27 19:22] coeing opened #13 "Discover Bosch Home Controller automatically (or at least its IP address)"
Would it be possible to discover the IP address automatically? If not we could add a link to the official Bosch support page which describes how to find out the IP: https://www.bosch-smarthome.com/de/de/service/bei-der-erstinstallation-werde-ich-nach-der-ip-adresse-des-shc-gefragt

We could ask in the Bosch GitHub repository (https://github.com/BoschSmartHome/bosch-shc-api-docs) how an automatic d

[2020-07-07 17:23] coeing opened #14 "Version 1.0 Discussion"
As we talked about in several issues, we'd like to publish a first version to openHAB soon. We can use this issue to discuss what needs to be done and how the publishing progresses.

@stefan-kaestle As you are the initiator of the plugin, you should approach the devs from openHAB to ask for a roadmap for publishing a plugin. It might just be a pull request of a branch of our fork to their main rep

[2020-07-07 19:35] stefan-kaestle commented on #14
Will do.

[2020-07-07 19:45] stefan-kaestle commented on #14
https://community.openhab.org/t/towards-merging-the-new-bosch-shc-binding/101952

[2020-07-09 17:49] coeing opened #16 "Refactor code to follow official openHAB guidelines"
The guidelines are here: https://www.openhab.org/docs/developer/guidelines.html

We should follow them as closely as possible.

Here are some first TODOs:

- [x] Add correct Null Annotations (https://www.openhab.org/docs/developer/guidelines.html#null-annotations)
- [x] Check logger usages (https://www.openhab.org/docs/developer/guidelines.html#f-logging)
- [x] Add documentation for all classes &

[2020-07-09 17:52] coeing commented on #16
Based on the feedback from Hilbrand (https://community.openhab.org/t/towards-merging-the-new-bosch-shc-binding/101952/2) we should cleanup our code to follow the official guidelines before we create our pull request.

Feel free to add more TODOs. We can also split the task into more issues, it might be a bit of work.

[2020-07-11 12:53] stefan-kaestle commented on #16
Biggest issue might be signing off code. We have to rebase and change the commit messages and the force push.

That's going to be nasty with merges. We already have two, so no idea how to best do this. Maybe git filters are the way to go. https://stackoverflow.com/questions/13043357/git-sign-off-previous-commits

In any case, we need to synchronize here, so that we don't mess up each others work.

[2020-07-11 20:52] coeing commented on #16
@stefan-kaestle Yes, it might take some work to go through the commits again. I will do it for my pull request branch and maybe @GerdZanker can do it for his as well? If you have time for it, you can adjust the bosch-shc-2.5 branch. If not, let me know, than I can do it :)

The easiest way is to recommit all the commits and adjust the commit message. The push has to be "forced" because changing th

[2020-07-11 20:57] coeing commented on #16
Just rebased my pull requests and force-pushed it, there doesn't seem to be any problem with it 👍 https://github.com/stefan-kaestle/openhab2-addons/pull/15

[2020-07-11 21:16] coeing commented on #16
@stefan-kaestle Played around with the bosch-shc-2.5 branch a bit and it shouldn't be a problem there as well. We just should make sure to keep the merge commits so we don't loose the pull request branches (I like that they group the commits that belong to a feature). Other than that it only changes the commit name and email to the one who does the rebase, but the authors of the commits stay the s

[2020-07-11 22:57] coeing commented on #16
Checked correct usage of null annotations and added a pull request for it :)

[2020-07-11 23:02] coeing commented on #16
The code format check `mvn spotless:check -Dspotless.check.skip=false` gives me:
[code]
So this seems to be okay.

[2020-07-14 17:41] coeing opened #19 "Pre-Release for external testers"
As we are working on the first release it might be a good time to invite some external testers to check out our binding so we might get some reports for bugs we haven't found yet.

One interested person already ask to test it: https://community.openhab.org/t/will-there-be-a-bosch-smart-home-binding/8910/81

Could we add a binary as a GitHub release in this repository? I don't see the tab here yet,

[2020-07-14 17:42] coeing commented on #19
As soon as it's possible to create a release I can build one locally for external people to test.

[2020-07-14 18:17] kreack commented on #19
Hey guys ;-)
I'm happy to support you by test activities...

Regards, Sergo

[2020-07-15 15:25] GerdZanker commented on #16
I'm back from a longer offline periode, starting with a rebase/recommit of the PR #11 including the sign-off.

Regarding

Yes, I think this is best way to avoid questions and confusions and additional work for us to proove to have the contribution right.

[2020-07-15 17:36] #4 closed

[2020-07-15 17:37] GerdZanker commented on #4
PR #11 is merged into bosch-shc-2.5 branch

[2020-07-15 18:13] GerdZanker commented on #16
Found one more todo in [guidelines directory-and-file-layout](https://www.openhab.org/docs/developer/guidelines.html#a-directory-and-file-layout):

- [ ] Every Java file must have a license header. You can run ``mvn license:format`` on the root of the repo to automatically add missing headers.

[2020-07-21 19:41] coeing commented on #12
Pull Request is merged, Climate Controls can be controlled! :)

[2020-07-21 19:41] #12 closed

[2020-08-05 05:57] tuxianerDE commented on #19
Folks, I would join that offer to test a pre-release. I am planning to use Openhab mainly readonly with my Bosch System - yet. But I am happy to support the community as I love the stuff Bosch offers but same goes for the control I have over Openhab.

[2020-08-05 06:57] coeing commented on #19
@stefan-kaestle You are probably busy with other projects. If you find some minutes could you enable the Releases feature for this repository? Than I can upload a binary as a pre-release for our external testers :)

[2020-08-05 07:00] coeing commented on #19
@stefan-kaestle Forget about it, just found out that it is already enabled :) https://github.com/stefan-kaestle/openhab2-addons/releases/new
I will create a pre-release version soon from our main branch.

[2020-08-05 09:44] Dfinity-skaestle commented on #19
Sorry, yes, quite busy. But will enable that feature and see if I can give the two of you admin privileges.

[2020-08-05 09:45] Dfinity-skaestle commented on #19
Yes, sorry, a bit busy these days.
I love how the two of you take such good care of the project! Thank you so much!

[2020-08-05 09:49] stefan-kaestle commented on #19
Sorry, quite busy, yes. I love how the two of you take such good care of the project,  thought. Thank you! 💕

[2020-08-05 19:13] coeing commented on #19
@kreack @tuxianerDE Sorry for the delay, I didn't see that creating new releases was already possible :/ But here you go! https://github.com/stefan-kaestle/openhab2-addons/releases/tag/0.1

Please create new issues while testing, so we get immediate feedback. Bug reports (even for minor bugs) are most important of course, but you could also create issues about:
- Information that is missing or not

[2020-08-05 19:14] #19 closed

[2020-08-05 20:55] tuxianerDE opened #22 "Where to initially set IP, PW and Keystore"
Where is the configuration required for the initial connection between Addon and Bosch Smart Home controller?

The readme outlines, that the IP, PW and KeyStore File location needs to be set. However the UI remains empty when clicking on the binding and I dont see a config file - template - in the services folder in openhab.

From the readme I take this has to be in the thing file, however at leas

[2020-08-05 21:44] kreack commented on #22
1. Copy the .jar file into your openHAB "addons" folder
2. Restart openHAB or reload the bundle
3. To check if it works: Go to PaperUI -> Configuration -> Things -> "+". You should see "Bosch Smart Home Binding" there.
4. Add Thing  'Bosch Smart Home Controller'
5. Input 'Configuration Parameters' (IP & Key)

**In my case no paring is possible :-( (see log):**
2020-08-05 23:29:00.984 [WARN ] [ng.b

[2020-08-06 19:06] GerdZanker commented on #22
Hello @kreack,
thank you for testing and the log.

Up to now I have only one question and clarification regarding

Input thing 'configuration parameter' must be set to your IP address and the "system password" of the Bosch smart home controller - the same password you used to connect your smartphone.

The same system password is also used for the *.jks JavaKeyStore file in ``userdata/etc``. Can yo

[2020-08-06 20:09] kreack commented on #22
Hi @GerdZanker ,

about IP & Key, I use the IP from BSH Controller and system password, which is printed on the controller (and is included in the connection barcode of the bush hardware). this should be right, because in case of wrong password the log give directly error like:

2020-08-06 21:58:13.407 [WARN ] [nding.boschshc.internal.BoschSslUtil] - Can not create or load keystore /var/lib/openha

[2020-08-06 20:13] tuxianerDE commented on #22
So, I. Managed to get it connected. I inserted the DNS name, password="" in the things file. Saved it went to my controller and pressed the button until it started blinking. After which I had a successful connect. I have configured already a light switch, Twinguard, two thermostats as thing and item. Can control the lights, door sensors follows next.

[2020-08-06 20:26] kreack commented on #22
that sounds great 👍

[2020-08-08 07:55] kreack commented on #22
after reconfiguration of BSH binding its looks like connected 👍
Many thanks @GerdZanker

[2020-08-08 22:28] kreack opened #23 "OFFLINE COMMUNICATION_ERROR - Bosch Window/Door Contact"
Hi guys,

after paring of BSH Controller, i tried to add the window/door contacts. I get the following error message: OFFLINE COMMUNICATION_ERROR
<img width="815" alt="image" src="https://user-images.githubusercontent.com/62901914/89720691-4a896080-d9d5-11ea-83d2-06b22882446b.png">
<img width="765" alt="image" src="https://user-images.githubusercontent.com/62901914/89720711-8cb2a200-d9d5-11ea-9e46

[2020-08-09 08:23] tuxianerDE opened #24 "Bosch Thermostat valve nullpointer exception"
I have a thermostat for my heating system configured. This is currently in summerpause, hence it is expected to be off. I am reading the current temperature and the valve position. However currently the valve is in NULL according to the paper UI, in the logs I can see the following null pointer.

2020-08-09 10:17:39.479 [WARN ] [chshc.internal.BoschSHCBridgeHandler] - refreshState: Request complet

[2020-08-09 09:23] tuxianerDE commented on #23
Hi, that channel definition looks strange to me... boschshc:window-contact:851459af:contact

I got them all working..  can you share your complete thing configuratio?

[2020-08-09 09:30] #22 closed

[2020-08-09 10:20] kreack commented on #23
Hi @tuxianerDE,

configuration was marked directly in paper ui. The fully configuration of things looks like:
<img width="765" alt="image" src="https://user-images.githubusercontent.com/62901914/89729824-7d654000-da39-11ea-9454-a541534f3dcd.png">

The detail thing configuration for thermostat is (and looks fine / need to be tested in detail):
<img width="765" alt="image" src="https://user-images.g

[2020-08-09 10:33] kreack commented on #23
@tuxianerDE can you share your configuration of the bush things?

[2020-08-09 10:36] tuxianerDE commented on #23
I do everything in the config files but here you go:

   Thing window-contact wohnzimmerfensterlinks "Wohnzimmer Fenster" @ "Wohnzimmer" [ id="hdm:HomeMaticIP:3014F711AXXXXXXXXX" ]

Here the item:
Contact WohnzimmerlinksFensterKontakt "Fenster Kontakt Wohnzimmer Links" (persSwitch) { channel="boschshc:window-contact:holzgasse:wohnzimmerfensterlinks:contact"}

[2020-08-09 15:36] kreack commented on #23
after change of configuration from paper ui to file its looks more better :-)
thanks @tuxianerDE

[2020-08-09 15:36] #23 closed

[2020-08-09 20:17] tuxianerDE opened #25 "Add handler for "Wall thermostat" (temperature + humidity)"
The Bosch Thermostat for floor heating system does also measure the relative air moisture and shares this with the controller.

As a second iteration obtaining this value together with the temperature would be good to use for analytics and graphing.

[2020-08-09 20:19] tuxianerDE opened #26 "Add shutter control write"
Currently the shutter control offers the read function of the current position in numeric value that I convert into %.

If shutters shall be controller a corresponding set function is required. At least querying the interface did not lead to a successful movement for my shutters.

[2020-08-10 11:59] meyouandi commented on #5
Hi,
I tried it out. Following this thread it was even for me (novice) possible to use the ID's from the logs to add my things.
Thanks for your work. Of course auto discovery would be great and would ease the use.
Thanks for your great work!

[2020-08-11 12:05] coeing opened #27 "Discover Bosch SHC devices automatically"
As discussed in #5 we should aim for an auto discovery of the devices, so our users don't have to dig for the device IDs inside the openHAB logs.

[2020-08-11 12:06] coeing commented on #5
Alright, to close this issue I will update the Readme.md to reflect the current way to add devices by looking into the openHAB log. For the auto discovery feature I added a new issue #27 We can implement that feature after the first release.

[2020-08-11 12:49] coeing commented on #24
Thanks for the report, @tuxianerDE ! There shouldn't be an exception in this case, of course. I will have a look.

[2020-08-11 12:51] coeing commented on #10
I will throw it out :)

[2020-08-11 12:53] coeing opened #29 "run.sh still required?"
I just stumbled upon the "run.sh" file in the root folder of our bundle. Is that script still required? If not we should throw it out :)

[2020-08-11 12:56] coeing commented on #29
Furthermore the "install.sh" script seems to have only local paths. We should either not have it under version control or make the paths configurable, so it can be used by all developers.

[2020-08-11 14:49] coeing opened #32 "Remove hard-coded Gateway-ID in BoschSHCBridgeHandler"
It might not be necessary at all (some requests are made without it already). If it should be necessary we have to get the correct Gateway-ID instead of using one hard-coded one :)

[2020-08-11 14:52] coeing opened #33 "Only use one Gson instance per object instead of creating new ones for each call"
Due to the official GSON user guide, the object does not store any state and can be used for multiple serializations/deserializations: https://sites.google.com/site/gson/gson-user-guide#TOC-Using-Gson

[2020-08-11 15:21] coeing opened #34 "Detect incorrect device ID instead of showing the thing as "Online""
Right now any configured thing that has a bridge is shown as "Online", even if the specified device id is invalid (any string possible). We should do a test request to the controller on initialization to check if a device with this ID exists. It might be enough to do this only when the device ID was first set or changed, but as a first step I would do it on each initialization. This can be impleme

[2020-08-11 15:57] coeing commented on #24
@tuxianerDE It looks like the device itself was not found (the device ID might be incorrect). This resulted in an invalid state object (null) which was not (and shouldn't be) handled by the ThermostatHandler. Could you check if the device ID you added in the thing configuration is correct?

I added general error handling for state requests (#35 ). This should make sure that we get better logging i

[2020-08-11 16:37] GerdZanker commented on #29
I used the script to get some infos and ideas for my own steps to compile and test the JAR.
My recommendation is to remove the script and write instead some word for developers into the readme. What do you think?

[2020-08-11 16:50] tuxianerDE commented on #24
hi, the device is definetly detected as it does report back the temperature and also the roomclimate does tell the "desired" temperature. So the ID should be properly configured otherwise I would probably also not these values back. I can see that this night at mid-night I got the null point again when openhab reinstatet all bindings.

[2020-08-11 17:31] coeing commented on #29
@GerdZanker Sounds good, we can add a Developers section to the README.md. Feel free to use the already existing pull request #31 to adjust the file :)

[2020-08-11 17:40] coeing commented on #24
@tuxianerDE Alright, thanks for checking it. I would suggest that we keep this issue open and would like you to check the logs after we uploaded a new release with the pull request #35 included, so we can get some more details about the response of the controller. I will let you know when the new release is available! :)

[2020-08-11 17:59] coeing commented on #6
This exception didn't occur anymore for me, so I will close this issue. If anyone gets it, we can open it again with better steps to reproduce.

[2020-08-11 17:59] #6 closed

[2020-08-11 18:00] GerdZanker commented on #29
Perfect! But I can't promise a time frame for the dev section, therefore merge at any point in time and depending on the state I will reuse your PR or create a new one.

[2020-08-11 18:03] coeing commented on #26
@tuxianerDE Could you give me some details about your setup? Setting a specific shutter level is already possible (the ShutterControlHandler handles the PercentType command). But you may have a setup where a different command is send to the handler. I should be able to find out which one it is and handle it correctly if I can mirror your setup :)

[2020-08-11 18:07] coeing commented on #25
@tuxianerDE This should be the "Wall Thermostat" device: https://apidocs.bosch-smarthome.com/local/ (Select "Wall Thermostat" from the top right drop down). It shouldn't be too hard to create a handler for it, all we would need is a service for the Humidity as the Temperature service is already in place.

I will flag this for v2 as I would like to get out a first public version first before doing

[2020-08-11 18:12] tuxianerDE commented on #26
Sure. Here is the thing config:

 Thing shutter-control schlafzimmerrolladenfenster "Schlafzimmer Fenster" @ "Schlafzimmer" [ id="hdm:HomeMaticIP:3014FXXXXXXXXXXXXXX" ]

Item:

//Rolladen Schlafzimmer
Number SchlafzimmerCurrentRolladenPosition "Aktuelle Rolladenposition [MAP(boschrolladencontrol.map):%s]" (persSwitch) { channel="boschshc:shutter-control:holzgasse:schlafzimmerrolladenfenster:level"

[2020-08-11 18:13] tuxianerDE commented on #25
all cool. Hence I suggested it as an enhancement :)

[2020-08-12 16:05] coeing commented on #29
@GerdZanker In that case I'll merge it now and you can adjust the README.md when you have time :)

[2020-08-12 16:05] #29 closed

[2020-08-12 18:33] coeing commented on #26
@tuxianerDE Looks like you send a DecimalType command to the handler which is not handled right now. If you send a PercentType command instead it should work.
But I will try to reproduce the issue and add the handling of the DecimalType command if my theory is true.

[2020-08-12 18:43] #10 closed

[2020-08-12 19:28] coeing commented on #26
@tuxianerDE I managed to reproduce your issue. The command was of type `PercentType`, but you did a division by 100, so the value was always too small to be considered.

This rule works for me:
[code]

Please let me know if it works for you without the division as well.

[2020-08-13 08:30] tuxianerDE commented on #26
I have done the change but at least from remote I dont see any movement at home, I can see the following in the logs now.

2020-08-13 10:29:03.774 [ERROR] [ntime.internal.engine.RuleEngineImpl] - Rule 'Convert Percent into Bosch value': An error occurred during the script execution: Could not invoke method: org.eclipse.smarthome.model.script.actions.BusEvent.sendCommand(org.eclipse.smarthome.core.

[2020-08-13 12:22] coeing commented on #26
@tuxianerDE Unfortunately I never saw this kind of error before. But it looks like (`on instance: null`) like the thing `GaestezimmerFensterCurrentRolladenPosition` couldn't be found. Could you please double check that it exists and is online, e.g. in Paper UI?

Also in your first setup you sent the command to `SchlafzimmerCurrentRolladenPosition`, maybe you have a copy&paste error there? :)

[2020-08-13 13:24] kreack opened #36 "Control of the BSH radiator thermostats"
Hi Bosch heroes :-)

for some reason I can't chenge the radiator controls and for my radiator in living room (its look so that)i received 2 IDs.

Hire my customizing:
Things:
[code]

Items:
[code]

[code]
Sitemap:
[code]

By change of temperature in sideman recipe following Log:
[code]
This does not change the thermostat values.

In case of change of values in BSH APP I receive following log:
[cod

[2020-08-13 17:48] GerdZanker commented on #16
Class documentation is now merged with #21

[2020-08-13 17:52] GerdZanker commented on #16
I reviewed the guide lines

I think we covered the first three quite well, but I have no idea about regarding public & protected constant, field and method JavaDoc. Shall we just await the view of the OpenHAB maintainers?

[2020-08-14 07:48] coeing commented on #16
@GerdZanker I would like to close this issue for now, it has already become too long (always happens with general issues). But I'll look for uncommented constants, fields and methods while working on other issues :) The remaining misses should be found during the openHAB review.

[2020-08-14 07:48] #16 closed

[2020-08-14 18:43] #5 closed

[2020-08-14 19:07] coeing commented on #14
@GerdZanker @stefan-kaestle As far as I can see it we should be ready for a first pull request, what do you think? :) I would also create a new Pre-release 0.2 to let @tuxianerDE check issue #24 Other than that we have only enhancement issues left which we should work on after the first pull request went through. We might get some valuable feedback from the first official release, so I wouldn't wa

[2020-08-14 19:15] coeing commented on #36
Hi @kreack ,

Thanks for testing our binding!

I had the same thinking as you have with setting the temperature of a thermostat. This is not possible at the moment via the Bosch Rest API. Instead the Bosch system creates a Room Climate Control for each room with a thermostat in it. This Room Climate Control is a virtual device, so it hasn't any physical counterpart but can be controlled in openHAB

[2020-08-14 19:49] tuxianerDE commented on #14
Will update tomorrow to the other build and give feedback on the issue. Happy to see proceeding to a first release

[2020-08-14 21:03] kreack commented on #36
Many thanks @coeing :-)
Now all 3 radiator thermostats can controlled...

Additionale to the thermostats i received 3 following devices:
[code]
Are this already implemented? If yes, which type have this devices (thermostat / climate-control / etc)?

[2020-08-15 08:28] GerdZanker commented on #14
I can only think that issue #7 with a better folder structure could make a review simpler, but I can't judge about the needed effort and if IDE "move" Refactoring is sufficient.

[2020-08-15 08:38] tuxianerDE commented on #24
@coeing where can I download that release so I can recheck it?

[2020-08-15 10:45] coeing commented on #36
@kreack No, there is no binding for those devices yet. Do you have any devices that support those services? The ventilation service and intrusion detection system is listed for me as well, but I have no devices that may support it. If you have details about one of those and how it should work, feel free to open a new issue for each one. Than we can plan to support it in a later version.

As the co

[2020-08-15 10:45] #36 closed

[2020-08-15 11:01] tuxianerDE commented on #24
@coeing sweet Thanks. Will be home in a few hours and test it directly so that we get one step closer to 1.0

[2020-08-15 11:09] coeing commented on #24
@tuxianerDE You probably saw the new release already :) https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-beta.1

[2020-08-15 11:15] coeing commented on #14
@GerdZanker Yes, that's true, moving the classes to their (final) destination might make sense before the first release. I'll see if I find some time for it tomorrow, it shouldn't take too long.

[2020-08-15 13:06] tuxianerDE commented on #24
@coeing I am getting now the following exception:
2020-08-15 15:02:33.547 [WARN ] [mmon.WrappedScheduledExecutorService] - Scheduled runnable ended with an exception:
java.lang.Error: State request for service ValveTappet of device hdm:HomeMaticIP:3014F711A000239A185959F5 failed with status code 404 and error code ENTITY_NOT_FOUND
        at org.openhab.binding.boschshc.internal.BoschSHCBridgeHand

[2020-08-15 13:08] tuxianerDE opened #37 "RoomClimateControl exception"
I am getting for the Room Climate Control thing the following error when reading through the looks.

2020-08-15 15:02:33.676 [WARN ] [mmon.WrappedScheduledExecutorService] - Scheduled runnable ended with an exception:
java.lang.Error: State request for service RoomClimateControl of device hdm:HomeMaticIP:3014F711A000239A18595A2C failed with status code 404 and error code ENTITY_NOT_FOUND
        a

[2020-08-15 17:42] tuxianerDE commented on #26
Hey, updated my code now also with the latest release and my shutters are still not moving a single inch :(

I can see that the value gets set to the item I have configured for Bosch but there is no reaction to it. I have auto update enabled for the item, does that make a difference? I would not expect so?

[2020-08-15 17:55] coeing commented on #24
@tuxianerDE That's what I thought. It really looks like the device is not found i.e. the device ID might be incorrect. Could you post the list of found devices from your openhab.log?

[2020-08-15 17:58] tuxianerDE commented on #24
2020-08-15 19:37:58.717 [INFO ] [chshc.internal.BoschSHCBridgeHandler] - Found device: name=Rauchmelder id=hdm:HomeMaticIP:3014F711A00004DBB858F997
2020-08-15 19:37:58.719 [INFO ] [chshc.internal.BoschSHCBridgeHandler] - Found device: name=Lichtschalter id=hdm:HomeMaticIP:3014F711A0001918785A0573
2020-08-15 19:37:58.720 [INFO ] [chshc.internal.BoschSHCBridgeHandler] - Found device: name=Wohnzimmer

[2020-08-15 18:00] tuxianerDE commented on #24
The device is definetly recognized as I use it also as a thermostat thing besides the climate control. The Thermostat thing works as expected but does not give as a result the "tobe" temperature

[2020-08-15 18:05] coeing commented on #24
@tuxianerDE The id looks indeed correct. Could you post a link to the kind of hardware you are using there? You name it "Raumthermostat UG", but the "thermostat" binding is meant for a radiator thermostat like this one: https://www.amazon.de/Bosch-Smart-Home-Heizk%C3%B6rper-Thermostat-App-Funktion/dp/B01N691S9A

If you have a climate control device you have to use the "climate-control" binding. Th

[2020-08-15 18:06] coeing commented on #26
@tuxianerDE No, it shouldn't make a difference as far as I know. Could you post your code again so I can try it myself?

[2020-08-15 18:07] tuxianerDE commented on #24
https://www.bosch-smarthome.com/de/de/produkte/smart-system-solutions/raumthermostat

That one I am using.

[2020-08-15 18:10] tuxianerDE commented on #24
Ok so I updated and removed the thermostat piece. Dont see an error set temperature is reported as NULL as I am currently in summer mode. Would have expected 0 but I can handle that via a mapping, OR should we do that in the binding?

[2020-08-15 18:13] tuxianerDE commented on #26
The log show nada - They show that the rule gets applied and the calculation is done. here are the pieces:

Thing:
Thing shutter-control gaestezimmerrolladenfenster "Gästezimmer Fenster" @ "Gästezimmer" [ id="hdm:HomeMaticIP:3014F711A00018DA18591182" ]

Item:
//Rolladen Gästezimmer"
Number GaestezimmerFensterCurrentRolladenPosition "Aktuelle Rolladenposition" (persSwitch) { channel="boschshc:shutt

[2020-08-15 18:14] tuxianerDE commented on #24
I suggest we close this issue and track this further in #37 as this is related to the room climate piece and not the valve?

[2020-08-15 18:14] #24 closed

[2020-08-15 18:14] tuxianerDE commented on #37
Ok so I updated and removed the thermostat piece. Dont see an error set temperature is reported as NULL as I am currently in summer mode. Would have expected 0 but I can handle that via a mapping, OR should we do that in the binding?

[2020-08-15 18:27] coeing commented on #37
Just to have the information here as well, @tuxianerDE is using this device: https://www.bosch-smarthome.com/de/de/produkte/smart-system-solutions/raumthermostat

@tuxianerDE The NULL looks like the state is currently not initialized. That probably has to do with summer mode, any chance that you temporarily turn it off? Unfortunately I don't have this kind of device at home. The "climate-control"

[2020-08-15 18:33] tuxianerDE commented on #37
Ok sure I can switch if off. Configuring this device as climate control shall I set the ID that is mentioned in the logs OR shall I set the devide ID I have obtained?

[2020-08-15 18:36] coeing commented on #26
@tuxianerDE The only thing that looks strange for me is the "holzgasse:" inside the channel which the first item connects to. But I have to say that I currently do my configuration via Paper UI instead of the configuration files. Maybe @GerdZanker or @stefan-kaestle could have a look at your setup? They probably have more experience with a setup via configuration files.

[2020-08-15 18:38] coeing commented on #37
Please use the ID from the logs (i.e. roomClimateControl_hz_1 or roomClimateControl_hz_3). Those are no physical devices but virtual ones that are created by the Bosch smart home system.

[2020-08-15 18:38] tuxianerDE commented on #26
That is coming from my overall Bridge boschshc:shc:holzgasse

and I works for the other items like light switches.

[2020-08-15 18:41] tuxianerDE commented on #37
ok changed it and now I can obtain the value (move one thing out of summer mode to see if it works).

Interesting enough they report not 5 degrees as set temp for summer mode, but that is probably what bosch tells the system too. One item that is note worthy, I had to restart openhap to get the old climate control thing replaced with the new value.

[2020-08-15 18:41] #37 closed

[2020-08-15 18:46] coeing commented on #26
I thought so. Will try to use your setup in my home now to find the cause.

[2020-08-15 18:46] tuxianerDE commented on #26
Much appreciated :)

[2020-08-15 20:27] coeing commented on #26
@tuxianerDE I think I found the issue. Your item `GaestezimmerFensterCurrentRolladenPosition_percent` is a Number item, so it provides a DecimalType. But the `level` channel requires a PercentType command. So you have to convert it:
[code]

But in your current setup, you could also just remove the `GaestezimmerFensterCurrentRolladenPosition_percent` item and use the `GaestezimmerFensterCurrentRoll

[2020-08-15 20:35] tuxianerDE commented on #26
ahh hangon more prominently it is the item typ you use. Rollershutter I have not been using .. instead I had Number there too. Changing the item here made the difference!

issue resolved. thank you for your help on that!!!

[2020-08-15 20:35] #26 closed

[2020-08-15 20:45] tuxianerDE commented on #14
Just for all on that thread. Issue #24 is resolved, as well as the shutter control. Looking forward to release 1.0

[2020-08-15 21:05] coeing commented on #26
@tuxianerDE I see, so the conversion is probably done automatically if you use the correct item type 👍 We should probably put some information somewhere which channels exists and which item type they require.

[2020-08-15 21:09] coeing opened #38 "Documentation - Which things exist, which channels do they have and which item type a channel requires"
We should probably put some information somewhere which channels exists and which item type they require. This missing information was the problem in issue #26.

@GerdZanker @stefan-kaestle Is there a general way in openHAB to do this? Or is openHAB able to create this information automatically? Basically this information is already in our thing-types.xml

[2020-08-16 19:24] coeing commented on #7
@GerdZanker Just moved files and adjusted package names. We should refactor the old handlers to use the new possibilities of the base handler class, but that can happen in separate issues (and probably after the first release).

[2020-08-17 16:16] GerdZanker commented on #7
Thank you for your package adjustment. I think the folder structure is easy to understand for reviewers.
The new possibilities can wait after the release and perhaps a new contributor wants to join and start with first work like the base handler class to old handlers. Do we have already an issue for this?

[2020-08-17 17:47] coeing commented on #7
@GerdZanker Sounds good 👍 We don't have an issue yet, I will quickly create one.

[2020-08-17 17:47] #7 closed

[2020-08-17 17:52] coeing opened #40 "Use new service architecture in all device handlers"
As some devices share the same functionality, we introduced service classes which implement setting and getting the state of a specific service of a device (e.g. temperature level, room climate control, valve tappet,...).

This architecture should be used by all device handlers that derive from BoschSHCHandler. The existing handlers should be refactored to reflect this architecture.

These handler

[2020-08-17 17:53] coeing commented on #14
@GerdZanker @stefan-kaestle I will write an update to the thread in the openHAB forum to tell them we are ready to merge a first version :)

[2020-08-20 18:38] kreack opened #41 "Parental controls on ash thermostats"
it would be great to activate / deactivate the bsh thermostats parental controls via openhab (see Kindersicherung unter BSH APP --> Verwaltung --> Geräte --> Heizkörper-Thermostate --> Zimmer --> Kindersicherung)

![IMG_ECFE64247A56-1](https://user-images.githubusercontent.com/62901914/90811371-c87a2f80-e324-11ea-877f-a903cbcc2166.jpeg)

P.S: Great performance, the binding works perfectly

[2020-08-20 18:49] kreack opened #42 "Send alarm system to BSH via openhab (use integrated alarm ton in BSH APP)"
Adding of virtual Thing / Item for activation and deactivation of the alarm system / ton in the BSH APP via OepnHab.

![IMG_0CF41679FD35-1](https://user-images.githubusercontent.com/62901914/90812535-8eaa2880-e326-11ea-83fb-b5f07c19bc9c.jpeg)

[2020-08-24 07:03] coeing commented on #42
@kreack We don't have a handler for it in our binding, but we can implement it in the next version. But this will only work if you will help with the testing because none of us has the hardware at home.

[2020-08-24 07:07] coeing commented on #14
No problem @stefan-kaestle ! I can completely understand that there are times where there is no time to work on an open source project. It's good that we are 3 developers already, so our binding always goes forward a bit :)

From my side we can already create a pull request and don't have to wait any longer for an answer in the forum as well. It's probably better anyway to have a discussion about

[2020-08-24 11:53] kreack commented on #42
@coeing of course I'm happy to support 👍

[2020-08-27 17:48] VL2019 commented on #14
Hi team,

thanks for your effort to develop a binding for Bosch Smart Home!

I have an OH2.5 environment and would like to include my new Bosch Smart Home System (Smoke detector, Shutter and motion detector). I am happy to help with some test in my environment.

Should I wait for the official first Version of your binding or do you think this will take some time and i should start with the pre-rel

[2020-08-27 18:34] GerdZanker commented on #14
Hello @VL2019,
warm welcome and feel free to start immediately testing our [v1.0-beta.1 Version](https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-beta.1).

[2020-08-28 07:16] tuxianerDE commented on #42
@coeing count me in on the testing piece here!

[2020-08-30 18:57] coeing opened #43 "Sign-off all incorrect commits"
Hi there,

Creating a pull request for openHAB runs an automatic check for unsigned or incorrectly signed-off commits: https://github.com/openhab/openhab-addons/pull/8371/checks?check_run_id=1048335445

We have to fix them before our work can be merged :)

[2020-08-30 19:01] coeing commented on #14
@GerdZanker @stefan-kaestle It's on! https://github.com/openhab/openhab-addons/pull/8371 :) If any work should come from this pull request, we should open new issues here to work on them. I already created one for the unsigned commits (#43)

[2020-08-30 19:03] coeing opened #44 "POM error during Travis build"
https://travis-ci.com/github/openhab/openhab-addons/jobs/379252414

@GerdZanker Maybe you can have a look at this? You seemed to be the most experienced of us for that file :) You can probably ask for help in the pull request if you don't see the issue immediately.

[2020-08-31 17:38] coeing commented on #43
Done with a force rebase.

[2020-08-31 17:38] #43 closed

[2020-08-31 18:01] coeing commented on #44
Fixed by rebasing onto current openHAB 2.5.x branch and increasing version number of bundle to 2.5.9-SNAPSHOT in pom.xml

[2020-08-31 18:01] #44 closed

[2020-08-31 18:01] coeing opened #45 "Fix code analysis errors"
https://travis-ci.com/github/openhab/openhab-addons/jobs/379580919

[2020-08-31 18:07] coeing opened #46 "Unify names of handlers by removing Bosch prefix"

[2020-08-31 18:22] coeing commented on #45
Fixed the errors now so the build should run through. We have still a lot of warnings left, but I will create a new issue for that.

[2020-08-31 18:22] #45 closed

[2020-08-31 18:23] coeing opened #47 "Fix code analysis warnings"
Right now we have a lot of code analysis warnings popping up during a Maven build:

`mvn install`

The code analysis report can be found at `openhab-addons/bundles/org.openhab.binding.boschshc/target/code-analysis/report.html` afterwards.

We have probably all skipped the code analysis during our work, so the warnings piled up. In the future we should run a normal build each time we merge a pull r

[2020-08-31 18:30] GerdZanker commented on #44
Hello @coeing, wow, what a great work from you! Thanks a lot!
Looks like you had a rainy weekend and nothing else to do... ;) and I'm now a too late to support with the major topics.

[2020-08-31 18:45] coeing commented on #47
Fixed some first warnings in my classes, 34 warnings left :)

[2020-08-31 20:18] coeing commented on #44
@GerdZanker No, the weekend was busy enough, but I just wanted to kick off the pull request to get to the first release :)

[2020-09-05 16:42] GerdZanker opened #48 "add "doHttpRequest" function to wrap the Bosch SHC Request code at one single place"
Add a new request function into ``BoschHttpClient`` to make simple calls like ``doHttpRequest("smarthome/devices")``  possible.
We have at least three places in ``BoschSHCBridgeHandler'' where we create http requests with duplicated code parts which can be replaced by the `´doHttpRequest`` function.

Here an example

    public ContentResponse doHttpRequest(String restData) throws InterruptedExcep

[2020-09-07 18:33] coeing commented on #48
The BoschSHCBridgeHandler has already some helper methods which could be used instead of creating a request from zero:
- `createServiceUrl`: To create the URL to send the request to
- `createRequest`: To create the request by providing the http client (might be removed), the http method, the url and the data to send

We should use those first in the places where the requests are created and add an

[2020-09-19 11:17] d0whiletrue opened #49 "Please support Bosch's radiator thermostat"
Please consider to support Bosch's radiator thermostats in the Bosch Smart Home Binding.

https://www.bosch-smarthome.com/de/de/produkte/smart-system-solutions/heizkoerperthermostat

[2020-09-20 06:47] armin-gh commented on #49
Hi. Works for me already
you have two things, a "thermostat" and a "climate-control".
Thermostat reports temperature and current valve position, climate-control allows to set temperature
`  Thing thermostat      heizung1         "Heizung WZ 1" [id="hdm:HomeMaticIP:xxxxxxxxxxxxxxxxxxx" ]`
`  Thing climate-control ccwohnzimmer     "CC Wohnzimmer" [id="roomClimateControl_hz_6" ]`

Items for the therm

[2020-09-20 19:56] coeing commented on #14
There do not seem to be any more unresolved issues in the pull request, @GerdZanker is working on the remaining ones if I see it correctly :)

@GerdZanker Let me know if you resolved the issues you are working on. Afterwards we can start a new round of reviews. I guess there will be some more issues left, but not that many and that big as in the first round.

We are getting closer to the first rel

[2020-09-21 09:16] VL2019 commented on #14
Hi,
until the first release is not published, I try to work with the beta version.

I add the file in the add-on folder, restart OH, add the thing & item files and hold the button on the Gateway until the LED flash. But when I link an item to my motion sensor, I got this message in the log and on the UI:

`2020-09-21 11:09:15.788 [hingStatusInfoChangedEvent] - 'boschshc:motion-detector:xxxxx' chan

[2020-09-21 10:50] tuxianerDE commented on #14
hey VL2019,

can you raise a seperate issue for this observation just to keep things clean (and also track if this becomes an actual bug).

I can confirm that I have integrated my twinguard suessfully.

can you share in the new created issue your binding config for the controller and do other items work?

[2020-09-21 14:19] VL2019 commented on #14
Thanks, I think it was an issue with the controller connection. Now I add my password for the Bosch controller in the .thing file. Not the best way I think but it works for the moment 👍

I also have an smoke detector. Where I can create a support request for the next version? It would be nice to use the Audi signal for my alarm system in openHAB.

Thanks

[2020-09-21 14:29] VL2019 commented on #42
Same here. Happy to help with a test installation

[2020-09-21 16:01] coeing commented on #49
@armin-gh described it perfect :) The radiator thermostats are already implemented and I have one at home with which I tested it. It is a bit strange that you need two things for a thermostat (the thermostats only report their temperature, but there desired temperatures are controlled via the climate controls). But on the other hand it makes sense, because you set the desired temperature per room

[2020-09-21 16:04] coeing commented on #38
I added an overview over all thing types and channels in the Readme.md now: https://github.com/stefan-kaestle/openhab2-addons/blob/bosch-shc-2.5/bundles/org.openhab.binding.boschshc/README.md This should be enough as an overview and we can copy it from there if necessary.

[2020-09-21 16:04] #38 closed

[2020-09-21 16:05] coeing commented on #33
@GerdZanker changed most of the usages of the Gson object, so we can close this issue.

[2020-09-21 16:05] #33 closed

[2020-09-21 16:06] coeing commented on #32
I removed the occurrences and the requests still work, so we can close this issue.

[2020-09-21 16:06] #32 closed

[2020-09-21 16:09] coeing commented on #14
@tuxianerDE Thanks for the quick answer! :)

@VL2019 As @tuxianerDE described, you should open new issues for bug reports and feature requests as well. This way the discussions stay focused on one topic at a time.

I will upload a new Beta version soon because we did a lot of code refactoring during the first review of the openHAB maintainers. Hope you all have time to test a bit if everything sti

[2020-09-21 16:41] coeing commented on #14
@GerdZanker Added a new branch bosch-shc-3.0 which is rebased on openhab/main. The next step would be to get it running locally with an openHAB setup. Let me know when it works for you, I will see when I have time to try it :)

[2020-09-21 19:04] coeing commented on #14
@GerdZanker Small update, I was too curious to wait trying it out ;) I had to fix some formatting and cherry picked your commit. So the branch is up-to-date :) Will do some testing with my devices and upload a new beta release, so others can test as well.

[2020-09-21 19:53] tuxianerDE commented on #14
@coeing just FYI I am still using the initial release version that I have configured to control all items I have and that can be configured so far. Can't wait to test the improved version :)

[2020-09-21 20:16] VL2019 opened #51 "Please support the smoke detector for fire detection and siren"
It would be nice to get the Information (event) if the smoke detector detect a fire. This information could be important for existing devices in OpenHAB like open the shutters or push notifications to the mobile phone or external gong in the garden.

In addition to that I wish a switch to start the alarm siren. For example if a burglar enters the house, I would like to start the siren.

Device: ht

[2020-09-21 20:18] coeing commented on #14
@GerdZanker Unfortunately I can't get the pairing to work and I am not sure if it's me, openHAB 3 or something else :/ Let me know when you had time to look at it, hopefully you can figure it out quickly (if it is a problem for you as well).

[2020-10-01 18:27] coeing commented on #49
Closing this as the desired feature is already implemented.

[2020-10-01 18:27] #49 closed

[2020-10-01 18:30] coeing commented on #48
@GerdZanker Did you find the methods I mentioned? Do you still see a need for additional methods?

[2020-10-01 19:30] coeing commented on #47
Warnings left:
- [ ] 3 TODOs in BoschSHCBridgeHandler.java and BoschSslUtil.java (we should turn those into issues)
- [ ] AvoidThrowingRawExceptionTypes in BoschSHCHandler.java

[2020-10-01 19:33] coeing commented on #14
Quick update: @GerdZanker fixed the pairing bug I introduced (shame on me!). As soon as the fix is merged I will create a new beta release. It will be for openHAB 3 though because unfortunately our binding won't make it into openHAB 2.5 anymore :/

[2020-10-03 10:14] kreack opened #53 "Set Thermostat Value"
Hi Guys,

some question to be a sure, that my settings are right (or wrong) :-):

BSH Thermostate Thing:
[code]

BSH Thermostate Items:
[code]

BSH Thermostate Rules:
[code]

do I manage right the temperature Value, or I need to add some additional BSH Items to set the right value at my thermostat?
Sorry for beginner question :-)
Thanks in advance

[2020-10-03 20:04] VL2019 commented on #14
FYI:
I would like to thank you for your work! The existing Beta works fine in my environment (motion-sensor, Twinguard, Door/Window) and I am happy to install and test your new beta release :-)

If I may make a wish for the next versions, it would be the integration of the "IntrusionDetectionSystem" like kreack mention it in this post https://github.com/stefan-kaestle/openhab2-addons/issues/42

Th

[2020-10-03 21:46] kreack commented on #14
I would also be very happy to support the new release by testing 🙃

[2020-10-05 05:00] armin-gh commented on #53
Hi
Climate_W_Soll is the right item to set the intended temperature
Thermostat_W_Soll ist not a temperature value, it is the position of the valve (0-100, 0 is closed, 100 is fully open) and this is read only as far as I know

Not sure about the rule, so far I let the controller do that job.
"Heizugsregelung_rolle" (typo here :-) ) contains if the thermostat is in automatic or manual mode?

Armin

[2020-10-06 18:26] coeing commented on #53
Thanks @armin-gh for the explanation, your info is fully correct :) We recently added an overview over the supported channels of each thing to the README.md of the bundle: https://github.com/stefan-kaestle/openhab2-addons/blob/bosch-shc-3.0/bundles/org.openhab.binding.boschshc/README.md

If you find descriptions that should be extended/changed/added to be better understandable, feel free to tell u

[2020-10-06 19:33] armin-gh commented on #53
Hi, @coeing
if you want to you can add samples from my configuration with two thermostats, a twinguard and the window contact to the samples. Covers a few things not yet included in the Readme, all available channels for each item linked to items

They belong all to the same room in the Controller configuration and thus only have one climate control. The items belong to groups to store data in the

[2020-10-07 14:35] VL2019 commented on #42
FYI: there was an update for this feature in the Bosch Smart Home App. There are now three different alarm profiles. Here is the release note (german, sorry): https://www.bosch-smarthome.com/de/de/release-notes/system/2020-09-28

[2020-10-08 20:39] coeing opened #54 "Additional information for README.md"
Hi, @coeing
if you want to you can add samples from my configuration with two thermostats, a twinguard and the window contact to the samples. Covers a few things not yet included in the Readme, all available channels for each item linked to items

They belong all to the same room in the Controller configuration and thus only have one climate control. The items belong to groups to store data in the

[2020-10-13 15:59] VL2019 commented on #42
For all who are interested in this feature (start / stop the BOSCH IntrusionDetectionSystem in OH) and can not wait until this feature is part of the beta or final version I would like to share my work-around.

First of all you have to buy a "**Bosch adapter plug**" (https://www.bosch-smarthome.com/de/de/shop?url=produkte/smart-system-solutions/zwischenstecker)
In addition to that you can use the

[2020-10-18 18:56] coeing opened #55 "Handle change of Home Controller system password correctly"
A change of SHC "system password" is an issue and happening also during initial setup of the binding e.g. if the wrong password was used instead of the App password.

See also [comments](https://community.openhab.org/t/will-there-be-a-bosch-smart-home-binding/8910/102?u=gerdzanker) in openhabCommunity.

The current solution is to **delete the <userdata>/etc/oss_openhab_binding_*.jks file in your o

[2020-10-18 19:11] coeing commented on #47
Fixed remaining warnings. If new ones should arrive, we should open new issues for each one (or a group of them) to avoid having long open issues :)

[2020-10-18 19:11] #47 closed

[2020-10-18 19:15] coeing commented on #14
I created a new pull request for the bosch-shc-3.0 branch: https://github.com/openhab/openhab-addons/pull/8629 It's currently a draft as I wanted to wait for a successful build first :) I will then change it to a regular pull request.

[2020-10-18 19:27] coeing commented on #14
Some time has passed since the last beta version! Main reason was the overlapping of the upcoming openHAB 3 release with our version 1 release. So we decided to migrate our plugin to openHAB 3 directly.

This version is currently in review by the openHAB maintainers, so feel free to report any bugs you find by opening a new issue! You can also add a new issue if you have a wish for a new feature,

[2020-10-21 20:48] VL2019 commented on #14
@coeing Thanks! Of corse we are still interested :)

I deleted the old Beta1-.jar file (this worked fine) and insert the new beta2 file in openhab folder and reboot the complete System (RP3). I do not created a new key (pushed NOT the button on the BSH gateway again)

I got this WARN Message in the log file:
`[WARN ] [org.apache.felix.fileinstall        ] - Error while starting bundle: file:/usr/s

[2020-10-22 08:05] coeing opened #56 "Window Contact does not show its status"
@coeing Thanks! Of corse we are still interested :)

I deleted the old Beta1-.jar file (this worked fine) and insert the new beta2 file in openhab folder and reboot the complete System (RP3 with OH 2.5.9 - hope this is compatible with your 3.0 binding). I do not created a new key (pushed NOT the button on the BSH gateway again)

I got this WARN Message in the log file:
`[WARN ] [org.apache.felix.f

[2020-10-22 08:07] coeing commented on #56
@VL2019 Created a new ticket for your issue. I'm not sure if the openHAB 3 bindings work with openHAB 2.5.9. But I can check if the window contact does show up correctly for me as I also have one window contact installed. Will let you know after I tested it!

[2020-10-26 22:38] VL2019 commented on #14
Hi @coeing,
thanks for the new version.

I still have only a 2.5.9 installation, so my comments / issues maybe not relevant for you

Motion sensor, controller and door/windowscontact still works fine with the limitation that the
- door window status will not shown on the status page (it works fine in the sitemap and  log) #56
- motion sensor has a wrong time. There is exactly a difference of two h

[2020-10-27 08:32] coeing commented on #14
@VL2019 Thanks for your testing!

- Time difference: This should be a system configuration thing as we don't do anything about the times in our binding.
- Warn log: This might be due to the fact that you are running an openHAB 3 binding with openHAB 2.5.9. For now we will concentrate on testing our binding with openHAB 3
- Alarm System: I am always happy to prioritize the tasks depending on the us

[2020-11-27 00:43] JMillwood-92 opened #57 "Bosch Smart Home Controller Vs Easy Control Smart Thermostat"
Hi, I've been checking in with your binding for a little while now and have been very excited to try it out.

I'm not sure if this is a question or a feature request really.

Essentially I have the Bosch Easy Control Smart Thermostat that seems to do the job of the Smart Home Controller. I think this as I have the Easy Control Smart Thermostat and several Radiator Valves that connect through this

[2020-12-22 21:16] tuxianerDE commented on #14
@coeing hi, sorry I have been so quiet. I am now back I just upgraded my openhab environment to version 3 and cleaned it up (fresh start essentially). Now I want to revisit our boach integration. As it is not officially in the bindings yet I wondered if there is a new release coming or if I shall go with the last one posted here.

Looking forward to restart this integration.

Cheers
Torsten

[2020-12-23 12:14] coeing commented on #14
Hi @tuxianerDE,

Good to hear back from you :) Hope you had some good end-of-year weeks before the holidays!

Your fresh setup is a very good test for the new version I just uploaded: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-beta.4 During the past weeks I mainly refactored some code that the openHAB maintainers liked to have changed (for good reasons). But we are getting

[2020-12-23 12:23] tuxianerDE commented on #14
Super. Feedback will be coming your way. I have started today morning to install based on the old version 3 and noticed 2 things. I will verify them with the latest version.

I will report separately in a new bug or update existing ones if need be.

[2020-12-23 13:54] tuxianerDE commented on #56
just tested this with beta 4 and can confirm that I am not getting the proper state and gets updated accordingly. Issue in my view closed.

[2020-12-23 13:59] tuxianerDE opened #58 "MINOR - Power consumption in-wall switch reports NULL as WH consumption"
A  configured in-wall switch reports back state (ON/OFF) and the current (W) however the power consumption over time (Wh) does report NULL.

Issue is not minor, only relevant for reporting/graphing

[2020-12-23 14:24] tuxianerDE commented on #14
I have tested  the creation of  things & items. I can only report one bug that is absolutely noncriitical. I will have to see now how my shutters behave with the rules. General functionality however is given!

The reported bug regarding the window contact I consider closed. I cannot reproduce the behaviour!

[2020-12-23 19:59] coeing commented on #56
Closing this as we do not support openHAB 2.5.9 but only openHAB 3 and up right now.

[2020-12-23 19:59] #56 closed

[2020-12-25 12:36] jensflorian opened #59 "Exception during keystore creation"
## Expected Behavior
Keystore is created after entering IP and PW into bridge handler.

## Current Behavior
No *.jks file is created. After setting log to trace I get this info:
[code]

## Possible Solution
Create jks file manually (how?)

## Steps to Reproduce (for Bugs)
Reproducible. I assume creation of jks file in OsX shell may be different from RaspberryPI.

## Your Environment

* OH3.0.0 fin

[2020-12-25 16:37] GerdZanker commented on #59
The Exception is causes by this line of code
https://github.com/stefan-kaestle/openhab2-addons/blob/59165a5bc2c822910658bc181a18f0bc6ac987eb/bundles/org.openhab.binding.boschshc/src/main/java/org/openhab/binding/boschshc/internal/devices/bridge/BoschSslUtil.java#L167
But I have currently no glue why loading the PEM resource file from the Jar fails.

Creating a jks file manually is not really possi

[2020-12-25 16:46] GerdZanker commented on #57
Hallo @JMillwood-92 ,
the Smart Thermostat is not supported by this binding. This binding is for the "Bosch SmartHomeController". I assume the two products are independent and can't be connected together.
But I know that some radiator and room thermostats can be connected to the Bosch SHC, compare with the products page of https://www.bosch-smarthome.com/.

[2020-12-25 17:14] GerdZanker commented on #59
After tests with my own setup (OH3, RPi Linux, Bosch SHC v1.0 Beta 4) I can confirm that this a reproducible bug and not related to OsX. I get exactly the same log traces.

[2020-12-25 17:26] GerdZanker commented on #59
I was able to find the changes in 82ab755eae34da6a77bbced0d921a60ba41e7a7d causing the problem that the *.pem files can't be loaded anymore from the Jar and will provide soon a bug fix branch where the two resources will be located inside the now expected package ``org.openhab.binding.boschshc.internal.devices.bridge``.

Thanks a lot @jensflorian for reporting the bug and for the very useful trace

[2020-12-25 17:28] jensflorian commented on #59
Thanks for the update, will be happy to test again after the fix.

[2020-12-25 17:28] jensflorian commented on #13
Maybe detection via FDQN identifier, see: https://github.com/hxmelab/node-red-contrib-bosch-shc/commit/1686cc47e17c7ee325fa31d7b3e7ceb3b36980f4 ?

[2020-12-26 16:00] GerdZanker commented on #59
Fixed with PR #60 and will be part of v1.0 of the Bosch SHC binding.

[2020-12-26 16:00] #59 closed

[2020-12-27 09:56] tuxianerDE commented on #58
Can confirm it is working with the latest build beta 5.

[2020-12-27 09:56] #58 closed

[2020-12-27 10:02] tuxianerDE commented on #14
FYI bug resolved with latest build.

Merry Christmas

[2020-12-27 14:02] jensflorian commented on #25
FYI long polling of such device already contains all necessary data:

[code]

[2020-12-27 17:25] jensflorian commented on #41
I queried my thermostat under /devices/hdm:HomeMaticIP:3014F711A000239BB858E19A/services/Thermostat/state

 and got following information:

`{
    "@type": "childLockState",
    "childLock": "OFF"
}`

[2020-12-27 19:00] jensflorian opened #61 "boschshc: Add support for roomLightControl in 2.0"
Currently in-wall-switches are already supported. I would like to see in future versions as an enhancement also support for its parent: The roomLightControl service controls all light items assigned to a given room in Bosch SHC. There is only one channel for operation.

The device is already successfully detected in the current version.

`[INFO ] [devices.bridge.BoschSHCBridgeHandler] - Found devi

[2020-12-29 17:52] VL2019 commented on #14
I have now a clean installation with OH 3.0 and happy to install the binding.

Is the latest version without the last bug [Beta 5](https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-beta.5)? Or did you create a new version after the last change?

[2020-12-29 22:05] coeing commented on #14
The Beta 5 contains the keystore fix. @tuxianerDE The version worked for you, did it?

[2020-12-29 22:09] tuxianerDE commented on #14
Hi, that is correct the beta 5 is running on my end. I have done the pairing with the previous beta but it continued running after changing to beta 5.

The ssl issue could also be related to a system component. @VL2019 which Java version is running are all ssl libs on your machine up2date like openssl etc?

[2020-12-29 22:30] VL2019 commented on #14
I used the last version of the openhabian for RPi from openhab 3.0.0

I found this on my environment:

java -version:
[code]

and for openssl

openssl version:
`OpenSSL 1.1.1d  10 Sep 2019
`

[2020-12-29 22:33] tuxianerDE commented on #14
Ok that can't be the issue then.... I don't have an ssl issue in my logs, whilst I did the initial handshake with beta 4. Do I assume correctly your smart home is up2date

[2020-12-30 13:23] jkarsten opened #62 "After 24h no Temprature update with Climate Control"
Hello,

i have the Beta 5 release addon running.
My BSH Gateway thing says it is online and my five ClimateControl things are online.
After i add the BSH Thing all works fine.
The setpoint_temprature and temprature Item become a automatics updates. After i change the value in the Bosch App the setpoint item in OH change his value under one second.
After 24h i can change a value and wait for tempra

[2021-01-01 09:32] jkarsten commented on #62
Hi,
today at 14:06 i had the last Update.
2020-12-31 14:06:34.876 [INFO ] [openhab.event.ItemStateChangedEvent ] - Item 'ArbeitszimmerTemperatur_Temperature' changed from 20.5 °C to 21.9 °C

![Screenshot 2021-01-01 102716](https://user-images.githubusercontent.com/6240493/103436476-f26d2800-4c1b-11eb-87a6-cd1a7aa8e4c2.jpg)

But all is Online.
![Screenshot 2021-01-01 102709](https://user-images.git

[2021-01-01 12:34] MarkJonas opened #63 "Prevent creation of Thing without assigning a parent bridge"
Right now (v1.0-beta.5) it is possible to create a Thing (e.g. TwinGuard) without assigning a parent bridge.

It would be great if there was no parent bridge selected and the user presses the *Create Thing* button an error text would be shown and the *Parent Bridge* field would be highlighted.

I systematically forgot to assign the parent bridge to most of my five TwinGuards when setting them up.

[2021-01-01 12:41] MarkJonas opened #64 "Add support for Home Connect washing machines"
It would be great if Home Connect washing machines like the BOSCH-WAYH2840 would be supported.

[code]

[2021-01-01 12:41] MarkJonas opened #65 "Add support for Home Connect dryers"
It would be great if Home Connect dryers like the BOSCH-WTYH7701 would be supported.

[code]

[2021-01-01 15:34] MarkJonas opened #66 "Enhance robustness of TwinGuard measurment handling on weak wireless connections"
I have a SHC with 5 TwinGuards connected. One of the TwinGuards has better and worse days in regards of the wireless connection to the gateway. In the official Bosch Smart Home app the reading during a wacky connection will look like this:

![Bosch Smart Home App](https://user-images.githubusercontent.com/12135716/103441520-e2227080-4c4e-11eb-9d64-39ca3308b04e.png)

In OpenHAB it will look like th

[2021-01-01 18:02] VL2019 commented on #14
Hi Team,

first time when I configured the new bindig, I got a message in my log logfiles to presse the button of the Bridge to create the key. I cannot reproduce this.

Because of my SSL error I try to undo all changes and install the binding again. Therefore I removed the thing in OH UI and deleted the .jar-file in the Add-on folder. But I never got the message again for "press button". I think

[2021-01-01 19:12] MarkJonas commented on #66
I can now see the issue on a second  TwinGuard. Here also there are "drop spikes", i.e. much lower values than there should be. It seems as if there is one reading per minute as each drop is exactly one minute wide. The drops happen simultaneously for temperature, humidity, and purity. The major difference this time is that the Bosch Smart Home app does not show data loss and the data is still cle

[2021-01-01 20:20] coeing commented on #14
Hi @VL2019,

I do not have an idea what could cause this, might as well be some thing in your local network? Maybe @GerdZanker has an idea as he developed the bridge connection.

For a clean second try you should delete (move) the whole userdata folder of openHAB. There are some cache files which might store old configuration values.

[2021-01-02 18:55] GerdZanker commented on #14
Hi @VL2019,
please delete an existing ``<openhab userdata folder>/etc/oss_openhab_binding*.jks`` file.
The beta 5 version creates new java keystore certificate file and the pairing shall start afterwards. The binding shows the Thing Status in the user interface with _Error - Press pairing button on the Bosch Smart Home Controller_.

[2021-01-02 22:41] VL2019 commented on #14
Thanks so much! That was the issue. Maybe something went wrong first time. Now it connects correctly and the thing is online.

[2021-01-03 22:56] stefanoferrario commented on #57
I have the same problem... I have no Bosch SHC but only a Thermostat Buderus TC100 (is the same of Smart Thermostat of Bosch) and some Bosch Valve. Did you find a solution to connect all this to OpenHab?

[2021-01-03 23:02] stefanoferrario opened #67 "Use without bridge but only with Thermostat and some Valves"
Hi,

I need to connect to openHAB my Thermostat and some Bosch Valves. The Thermostat is connected to home wlan and has an IP address.
There is a possibility to use it without the bridge?

Thanks a lot

[2021-01-04 10:24] MarkJonas opened #68 "TwinGuard readings freeze after ~24 hours"
After approximately 24 hours the readings from TwinGuards freeze. It can be restarted by shortly stopping and then restarting the *Smart Home Controller* Thing. Just stopping and restarting a single TwinGuard does not help.

(The artifacts of suddenly dropping and rising again temperatures is described in #66.)

I installed the binding on January 1st.

![Screenshot from 2021-01-04 11-16-59](https:

[2021-01-04 11:03] MarkJonas commented on #66
Here an example where 4 of 5 TwinGuards are affected. The Smart Home App does **not** show an interruption. The TwinGuards are situated in a condominion with hollow brick walls. Only the TwinGuard without interruption is in line of sight with the gateway.

![Screenshot from 2021-01-04 11-53-53](https://user-images.githubusercontent.com/12135716/103528473-5134da80-4e84-11eb-9fbc-cf672bd8f953.png)

[2021-01-04 12:01] MarkJonas commented on #62
After approximately 24 hours the readings from TwinGuards freeze. It can be restarted by shortly stopping and then restarting the *Smart Home Controller* Thing. Just stopping and restarting a single TwinGuard does not help.

(The artifacts of suddenly dropping and rising again temperatures is described in #66.)

I installed the binding on January 1st.

![Screenshot from 2021-01-04 11-16-59](https:

[2021-01-04 12:02] MarkJonas commented on #68
Duplicate of #62.

I moved the information to #62 and thus this issue can be closed.

[2021-01-04 12:02] #68 closed

[2021-01-04 20:25] coeing commented on #62
Hi @jkarsten, Hi @MarkJonas,

Thanks for your reports! This sounds like a valid issue indeed. Does one (or both) of you have the possibility to run openHAB in Debug mode, so we get more logs? Our binding logs a lot of things, one of them might help to find the cause more quickly :)

[2021-01-04 20:27] coeing commented on #67
Hi @stefanoferrario,

Sorry, but that's not possible with our binding. We communicate with the Bosch Home Controller (the bridge) only and not directly with the devices.

[2021-01-04 20:27] #67 closed

[2021-01-04 20:40] coeing commented on #62
Just thinking for myself here: We get the updates of the devices from the controller by long polling it. There might be some policy that we do not consider that cancels a long polling registration after 24 hours. So we would have to re-register shortly before the 24 hours are over.

[2021-01-05 07:00] GerdZanker commented on #62
I got once a logged exception regarding "long polling". Perhaps the stack trace supports analysis

	[WARN ] [devices.bridge.BoschSHCBridgeHandler] - Long polling failed
	org.openhab.binding.boschshc.internal.exceptions.LongPollingFailedException: Unexpected exception during long polling request
		at org.openhab.binding.boschshc.internal.devices.bridge.LongPolling$1.onComplete(LongPolling.java:152)

[2021-01-06 17:58] MarkJonas commented on #62
@coeing Yes, I could give it a try with debug mode on openHAB. How do I activate that? Can this be a selective activation such that it will not generate gigabytes of data?

[2021-01-06 21:25] coeing commented on #62
@MarkJonas You can enable logging a specific level for a specific package like described here: https://www.openhab.org/docs/administration/logging.html#defining-what-to-log

[2021-01-07 10:46] MarkJonas commented on #62
@coeing I started the logging with `log:set DEBUG org.openhab.binding.boschshc`. I can already see *Bosch**  debug messages in the log file. This evening the problem will most likely occur again. I'll then send the log file to your email address.

[2021-01-07 13:48] VL2019 commented on #62
Hi all,

i had the same isse after a few hours with the Twinguard. Here is my log. But i do not understand what the problem could be. Maybe I have the wrong log detail level?

`2021-01-06 18:47:02.865 [DEBUG] [ices.twinguard.BoschTwinguardHandler] - Parsed switch state of hdm:ZigBee:000d6fxxxxxxx: org.openhab.binding.boschshc.internal.devices.twinguard.dto.AirQualityLevelState@3cb79c
2021-01-06 18

[2021-01-07 15:11] VL2019 commented on #62
I think this could help:
/var/log/openhab$ cat openhab.log |grep DEBUG

`2021-01-06 18:52:02.748 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Got update for hdm:ZigBee:000d6fxxxxxxx3cd
2021-01-06 18:52:02.751 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Registered device: hdm:ZigBee:000d6f0011f44dc4 - looking for hdm:ZigBee:000d6fxxxxxxx3cd
2021-01-06 18:52:02.753 [DEBUG] [devices.bridge.B

[2021-01-07 15:38] coeing commented on #62
@VL2019 Thanks for your logs! The long polling does not receive any data, but does not receive any error neither :/ This makes it pretty hard to fix. Let's wait for the logs from @MarkJonas, maybe he has a different log output.

[2021-01-07 15:45] coeing commented on #62
@VL2019 Oh, just saw that you grepped just the DEBUG output. Could you do a `grep boschshc`, so we get all logs from our binding and not only the DEBUG logs? There might be some WARN or ERROR log in between :)

[2021-01-07 15:59] VL2019 commented on #62
@coeing

cat openhab.log |grep boschshc

`2021-01-06 17:50:03.248 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Initializing Bosch SHC Bridge: org.openhab.binding.boschshc.internal.devices.bridge.BoschSHCBridgeHandler@f0c0eb - HTTP client is: BoschHttpClient@12bf5dd{STARTED} - version: 2020-04-05
2021-01-06 18:07:03.233 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Found child: org.openhab.b

[2021-01-07 16:48] jkarsten commented on #62
Hi,
i set debug on with "log:set DEBUG org.openhab.binding.boschshc" and restart the Binding at 16:25
At the moment it shows with "cat /var/log/openhab/openhab.log |grep boschshc > /root/Schreibtisch/output.txt" this file [output.txt](https://github.com/stefan-kaestle/openhab2-addons/files/5782877/output.txt)

I will grep a log tomorrow at 16:25 again.
Thank you,
Jörg

[2021-01-07 18:47] coeing commented on #62
@VL2019 @jkarsten Thanks for your logs! But grepping boschshc does not seem to be the correct filter as it is not included in all logs :/ Would it be possible for you to upload all your logs around the point of time when the updating stops?

[2021-01-07 19:19] MarkJonas commented on #62
@coeing Since ~ 30 minutes the readings of my TwinGuards are frozen. I sent the *openhab.log* to you personally by email.

[2021-01-08 15:27] jkarsten commented on #62
Hi, i will upload the Logs but i see this debug error after 24h
==> /var/log/openhab/openhab.log <==
2021-01-08 16:25:17.953 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request
2021-01-08 16:25:18.011 [DEBUG] [.internal.devices.bridge.LongPolling] - Long poll response: {"jsonrpc":"2.0","error":{"code":-32001,"message":"No subscription with id: eebi62mc3-207"}}

[2021-01-08 15:54] coeing commented on #62
This is a great finding! :) It confirms what I thought, that the subscription is removed by the controller after 24h automatically. Could you send me the whole openhab.log (at least the minutes around 16:25 where the error occurred) via mail?

[2021-01-08 16:06] coeing commented on #62
I found the same error response within your logs:
[code]

It should be possible to re-subscribe for long polling once this error is received, so the long polling is restarted.

[2021-01-08 16:09] coeing commented on #54
The Readme.md was already reworked, so I am closing this issue for now. If there is a specific information missing in the Readme.md, a new issue should be created.

[2021-01-08 16:09] #54 closed

[2021-01-09 17:55] GerdZanker commented on #62
Hello @coeing,

In the meantime my BoschSHC setup is up and running also only for 24h.
I see the "Long poll response" from [line 175](https://github.com/stefan-kaestle/openhab2-addons/blob/bosch-shc-3.0/bundles/org.openhab.binding.boschshc/src/main/java/org/openhab/binding/boschshc/internal/devices/bridge/LongPolling.java#L175) with the JSON error content.

But I see **no** other log entry for the

[2021-01-10 12:38] coeing commented on #62
Hi @GerdZanker !

I just had a look into the issue and think I found the reason. GSON happily returns a LongPollResult, even if the "result" field does not exist. So I check this manually. Please checkout my pull request #69, so I can merge it soon and build a new version :)

[2021-01-11 10:01] coeing commented on #62
I am happy to present our Beta 6 release: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-beta.6 :) It should fix this nasty bug. Please send a comment as soon as you checked it out to confirm that our binding runs more than 24 hours (or not, in which case I have to continue my investigations! ;) ).

[2021-01-11 10:05] coeing commented on #66
@MarkJonas Could you post the logs (with DEBUG logging enabled) around the time when the drops happen? This way I can have a look at the raw data which was send by the controller. Maybe there is a flag or something like that which indicates that the data is invalid. Otherwise it may be impossible for our binding to decide which data is valid and which is not.

[2021-01-11 10:06] coeing commented on #57
As our binding could not help with this issue, I close it for now.

[2021-01-11 10:06] #57 closed

[2021-01-11 10:09] coeing commented on #48
@GerdZanker Should we close this issue or do you see the need for more helper methods than the ones mentioned above?

[2021-01-11 18:30] MarkJonas commented on #66
@coeing OK, I just re-enabled the DEBUG logs. I'll now let it run for 24 hours and then send you the logs and a screenshot to locate the problematic times.

[2021-01-12 16:09] Digitalvitamin commented on #64
@MarkJonas: Have a look at the HomeConnect addon (in development: https://community.openhab.org/t/home-connect-addon-looking-for-beta-testers/49702/719). HomeConnect devices are not part of the Bosch Smart Home local API (https://apidocs.bosch-smarthome.com/local/).

[2021-01-12 16:09] Digitalvitamin commented on #65
@MarkJonas: Have a look at the HomeConnect addon (in development: https://community.openhab.org/t/home-connect-addon-looking-for-beta-testers/49702/719). HomeConnect devices are not part of the Bosch Smart Home local API (https://apidocs.bosch-smarthome.com/local/).

[2021-01-12 18:34] MarkJonas commented on #64
@Digitalvitamin Thanks for the hint. I assumed that it was the same API because the washing machine is also accesible via the Bosch Smart Home App.

@coeing I propose to close this issue as requested improvement is out of scope of this binding. https://github.com/bruestel/org.openhab.binding.homeconnect seem to be the right binding.

[2021-01-12 18:35] MarkJonas commented on #65
@Digitalvitamin Thanks for the hint. I assumed that it was the same API because the dryer is also accesible via the Bosch Smart Home App.

@coeing I propose to close this issue as requested improvement is out of scope of this binding. https://github.com/bruestel/org.openhab.binding.homeconnect seem to be the right binding.

[2021-01-12 19:08] MarkJonas commented on #62
@coeing Now running for 24 hours and 30 minutes. I think you nailed it! :1st_place_medal:

I plan to check again after 48 hours of continuous operation.

[2021-01-12 19:16] #65 closed

[2021-01-12 19:17] #64 closed

[2021-01-13 06:57] MarkJonas commented on #62
Oh no, it froze again. This must have happened just minutes after my post above. :crying_cat_face:

![Screenshot from 2021-01-13 07-45-51](https://user-images.githubusercontent.com/12135716/104416122-853e8880-5573-11eb-8620-8c18d5945435.png)

The "unfreeze" and restart of the binding was on 2021-01-11 at ~ 19:30. It "froze" again at 2021-01-12 20:00.

Is it because the buggy and the new version of

[2021-01-13 07:29] jkarsten commented on #62
Hi,
yes its the same here.
I will save the Logs and send a eMail.
Jörg

[2021-01-13 08:46] coeing commented on #62
Oh no! :O

The logs look like the old version though, so the version might not be updated correctly. @MarkJonas @jkarsten  Do you have access to the openHAB console and can run the command `bundle:list`? Not sure how to show the active bundles with their versions in the UI (@GerdZanker Do you know it?).

When I started my openHAB instance, it still had the 3.0.0 version of the binding active and d

[2021-01-13 09:21] tuxianerDE commented on #66
@coeing With the latest build 3.1.0 I dont observe these drops in the graph anymore. So far it seems more stable without any drops.

[2021-01-13 10:19] jkarsten commented on #62
Hi,

ok in the past i delete my Bosch Addon in /usr/share/openhab/addons/
i copied the new org.openhab.binding.boschshc-3.1.0-SNAPSHOT.jar in this folder.

After restart bundle:list shows both versions ?????
253 │ Resolved │  80 │ 3.0.0.202012261941      │ openHAB Add-ons :: Bundles :: BoschSHC Binding
255 │ Resolved │  80 │ 3.1.0.202101110957      │ openHAB Add-ons :: Bundles :: BoschSHC Binding

[2021-01-13 12:28] coeing commented on #62
Hi @jkarsten,

This is the same behaviour that showed up for me (having both versions after the first restart of openHAB). I guess openHAB reads the new .jar from the addons folder and keeps the old .jar from its internal cache (somewhere inside userdata). Uninstalling it removes it from the cache as well.

Now you should only have the newest version. Please keep an eye on the behaviour after the

[2021-01-13 12:29] coeing commented on #66
You should uninstall the old version with `bundle:uninstall 232`, see https://github.com/stefan-kaestle/openhab2-addons/issues/62#issuecomment-759351999 how another user solved the issue.

[2021-01-13 18:50] MarkJonas commented on #66
@coeing I uninstalled the old bundle, restarted openHAB and now there is only the newest version of the binding.

I'll let it run for 1-2 days and then report back in regards of the drops. @tuxianerDE's experience sounds promising.

[2021-01-14 09:02] tuxianerDE commented on #66
@coeing - It seems that it is stalling again at least I can see that the graph dont obtain new data anymore.

![image](https://user-images.githubusercontent.com/47778296/104567761-79c08f80-564f-11eb-9523-b4d6478a9900.png)

[2021-01-15 06:52] MarkJonas commented on #62
@coeing I fear this issue needs to be reopened. I uninstalled the old binding and restarted OH. I think this time it ran for ~36 hours and now it is frozen again. I think @tuxianerDE reported the same in https://github.com/stefan-kaestle/openhab2-addons/issues/66#issuecomment-760046514 .

![image](https://user-images.githubusercontent.com/12135716/104691411-79370000-5706-11eb-8da3-f0f6aad076c6.png

[2021-01-15 16:40] jkarsten commented on #62
Hi,
i have the same problem. I think it is still after 24 hours.

Here are my Log:
`
2021-01-14 11:11:10.308 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Got update for hdm:HomeMaticIP:3014F711A000005BB85E1B04
2021-01-14 11:11:10.309 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Registered device: roomClimateControl_hz_2 - looking for hdm:HomeMaticIP:3014F711A000005BB85E1B04
2021-01-14 11:1

[2021-01-16 12:31] coeing commented on #62
@MarkJonas @jkarsten Thanks a lot for your reports and your logs. In the logs I can see that my last fix worked (regarding the long poll error), but the re-subscription afterwards failed due to a time out. I will re-open this bug nonetheless as the result is the same.

I have to check what might go wrong there.

[2021-01-16 17:41] GerdZanker commented on #48
We close this issue. In the meantime our code is refactored multiple times and better compared to last summer.

[2021-01-16 17:41] #48 closed

[2021-01-17 17:26] GerdZanker commented on #62
Today it happend with my hardware that the SHC bridge wasn't able to renew the Subscribtioin
Here my log

	2021-01-17 17:17:02.337 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request
	2021-01-17 17:17:02.400 [DEBUG] [.internal.devices.bridge.LongPolling] - Long poll response: {"result":[...last valid content...],"jsonrpc":"2.0"}
	2021-01-17 17:17:02.403 [DEBUG] [.internal.de

[2021-01-18 16:24] coeing commented on #62
@GerdZanker Could you enable the TRACE logging for your installation? I think I need even more detailed logs than the ones from the DEBUG logging, especially if nothing is logged for you after the re-subscribe request. I would at least expect an error there. Or maybe that warning was filtered out? It has the identifier `devices.bridge.BoschSHCBridgeHandler` instead of `.internal.devices.bridge.Lon

[2021-01-18 19:58] GerdZanker commented on #62
Today after about 24h later I got a "long polling failed" error in openhab UI, but no debug output in the console.
Now TRACE logging is active - let's wait.

[2021-01-18 21:32] coeing commented on #62
That's really strange that it did not occur in your logs. But at least it seems to occur at all. I guess it is the same TimeOut exception that @jkarsten had, but hopefully the TRACE logging will give me some idea why the TimeOut happens at all.

Btw: I got the confirmation from the Bosch developers that a subscription is canceled after 24 hours: https://github.com/BoschSmartHome/bosch-shc-api-docs

[2021-01-19 08:52] coeing commented on #55
@GerdZanker I think this is fixed with your last pull request, isn't it?

[2021-01-19 18:34] GerdZanker commented on #55
Yes, its avoided with PR #70, because the keystore password is now a static password defined in code.
The BoschSHC systempassword is only used for pairing.

Drawback: A new keystore will be created using your SHC IP address and a new pairing is needed.

[2021-01-19 18:34] #55 closed

[2021-01-19 19:10] MarkJonas commented on #62
@coeing
Inspired by @GerdZanker I also enabled TRACE logging on my system. This is what is looks like when the long polling eventually fails:

[code]

I hope this helps. To me it does not look as verbose as I thought it would be.

The Smart Home Controller *thing* still shows the state 'online' in the GUI. But I think that yesterday it showed some error message that the long poll failed.

[2021-01-20 06:41] GerdZanker commented on #62
Here is my trace from yesterday

	2021-01-19 20:56:57.467 [WARN ] [.internal.devices.bridge.LongPolling] - Long poll response contained no results: {"jsonrpc":"2.0","error":{"code":-32001,"message":"No subscription with id: ef5lmcknf-1"}}
	2021-01-19 20:56:57.474 [WARN ] [.internal.devices.bridge.LongPolling] - Got long poll error: No subscription with id: ef5lmcknf-1 (code: -32001)
	2021-01-19 20

[2021-01-20 06:56] MarkJonas commented on #62
@coeing
The `Long polling failed` log message appeared on my system after pressing the pause (stop) button on the bridge thing. Afterwards a similar exception was printed. Maybe there is a timeout I should have waited for. If needed I can send you the complete log by email.

[2021-01-20 08:26] coeing commented on #62
@MarkJonas @GerdZanker Thanks for your logs! Unfortunately there was no new information in it, but at least they look similar.

@MarkJonas Would be great if you send me the complete log via mail. I'd like to make sure that the exception is the same as the others. And you have TRACE logs, so maybe there is an additional log in your log file that could help finding the bug.

@GerdZanker I see only w

[2021-01-20 08:57] coeing commented on #62
Just created a test version with some additional logging: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-bugfix.62

Please make sure you have TRACE logging enabled:
`log:set TRACE org.openhab.binding.boschshc`

You can check the log level by running `log:list`

If that does not provide any additional information, I would suggest to set the log level of org.eclipse.jetty.client

[2021-01-20 09:18] jkarsten commented on #62
Hi,
i deleted the old jar file and made a uninstall in the console.
After restart i have only one active Binding.
257 │ Resolved │  80 │ 3.1.0.202101200849      │ openHAB Add-ons :: Bundles :: BoschSHC Binding

Log:List is now
org.openhab.binding.boschshc                       │ TRACE

In the Log it said that i need to pair it.
So i pressed the Button on the Bosch again and now its online.

Thank

[2021-01-20 18:51] GerdZanker commented on #62
Sorry, I skipp all the "good" log entries.

[2021-01-21 07:05] MarkJonas commented on #62
I sent the logs of the last 36 hours to @coeing.

I am now also running the `bugfix.62` test version with TRACE logging enabled.

[code]

[2021-01-21 09:02] coeing commented on #62
Thanks for the complete log. Unfortunately it does not contain further information about what happens. As you already noticed, the last log is about sending the subscribe request and no response is received. It looks like the http client got stuck during the subscribe request, but I have no idea why.

I think it would be best to enable TRACE logging for the HTTP library as well:
`log:set TRACE org

[2021-01-21 09:05] coeing commented on #62
@GerdZanker If the logs of the HTTP library do not give us any new information, I would like to try to create a new HTTP client once the long polling subscription became invalid. Maybe the Bosch home controller does something with the HTTP connection like closing it. What do you think about this idea?

[2021-01-21 09:07] coeing commented on #14
Our binding is merged! :D https://github.com/openhab/openhab-addons/pull/8629 It will be released with openHAB 3.1 and should already be included in the latest snapshot: https://www.openhab.org/download/

[2021-01-21 09:07] #14 closed

[2021-01-21 09:13] coeing commented on #62
@MarkJonas Could you run a `bundle:update org.openhab.binding.boschshc` to make sure you are really using the test version? From the logs it looks like you are still on Beta 6.

[2021-01-21 11:09] stefan-kaestle commented on #14
Wow! Awesome job guys! Seeing how much extra work this was in the end, there is no way this would have happened without all your contributions and help!
Sorry I couldn't help more with the merging. I was and still am pretty busy (👶 among other things).

Thanks again and much appreciated!

[2021-01-21 17:59] GerdZanker commented on #62
I had time to analyse my [stack trace](https://github.com/stefan-kaestle/openhab2-addons/issues/62#issuecomment-763375672)

    2021-01-19 20:57:07.480 [WARN ] [devices.bridge.BoschSHCBridgeHandler] - Long polling failed
    org.openhab.binding.boschshc.internal.exceptions.LongPollingFailedException: Error on subscribe request ....

This warning is logged by [BoschSHCBridgeHandler.handleLongPollFa

[2021-01-21 18:44] GerdZanker opened #71 "How to develop Bosch SHC from now on (after v1.0)"
Dear Developers, @coeing and @stefan-kaestle,

the Bosch SHC code is now merged into ``openhab-addons/main``.
Therefore I suggest to switch from our development branch ``stefan-kaestle/bosch-shc-3.0`` to "stefan-kaestle/main" and continue to use this forked repository and also the issue tracker for future development.

What do you think?

[2021-01-21 18:55] MarkJonas commented on #62
@coeing Yes, the logs I sent this morning where still with the Beta 6. Afterwards I updated the binding. I hope *3.1.0.202101200849* is the right version number. None the less I did the `bundle:update org.openhab.binding.boschshc`. Maybe this means I will have to wait 24h from now on.

[2021-01-21 19:03] GerdZanker opened #72 "Use Units Of Measurement, avoid Units.ONE"
I recommend to use always the [Units Of Measurement](http://next.openhab.org/docs/concepts/units-of-measurement.html) to benefit from the conversion support.

The binding code uses the units already for all temperatures from my point of view.
But for the Twinguard air purity and humidity no unit is used therefore the conversion is sometimes strange, e.g. to format the humidity as "%" doesn't work.

[2021-01-21 19:06] GerdZanker commented on #25
Public version is out now. Milestone 2 is the next target. Because I have several "Wall thermostats" this enhancement is very welcome from my side.

[2021-01-21 22:05] coeing commented on #25
Yes, we should definitively prefer devices that we have access to, so we can make this high prio :)

[2021-01-21 22:07] coeing commented on #14
Thanks, @stefan-kaestle and thanks for starting this binding :) And congrats on the birth! 👍 Btw: My son was born on November 23rd 2020, so they shouldn't be too far apart ;)

[2021-01-21 22:11] coeing commented on #62
That's possible, thanks for the hint! Nevertheless I can not explain why there is a timeout anyway. But I should definitively handle that exception case better. Restarting the long polling makes sense. This could be at least a fallback to keep the long polling running. I would like to find the cause of the timeout anyway...

[2021-01-21 22:12] coeing commented on #71
Yes, that sounds good! The branch name is outdated already, as openHAB is facing towards 3.1. We should have the current state in the main branch.

[2021-01-21 22:14] coeing commented on #72
Sure, having a type there is always better than the dimensionless fallback. Do you have an official source where the dimensions of the data is defined by Bosch? I have not found one yet.

[2021-01-22 07:29] tuxianerDE commented on #25
Same here I have two Wall thermostats installed so happy to support testing here!

[2021-01-22 07:32] tuxianerDE commented on #14
Thanks all for making this work and congrats making it now to the official releaes train for openhab 3.1

@stefan-kaestle congrats on the birth of your kid!!! All the best

[2021-01-22 07:54] tuxianerDE commented on #71
Hey,

one idea for structuring future release might be if we bundle topics to release milestones. As in:

- Internal release (enable parentel control framework, using proper units of measurement etc.)
- Light enhancement release (can include handling of Zwischenstecker, Light Control)
- Heat enhancement release (as in wall thermostat etc.)
- Security release (fire detection, setting the alarm etc.

[2021-01-22 13:50] coeing commented on #62
I created a new version, please download again and switch to that one: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-bugfix.62

It tries to restart the long polling now when a failure happens. Not sure if it does fix the issue already (from some logs it looks like the request hangs forever because there is no log after the subscribe request is sent). But maybe it gives us at

[2021-01-22 14:08] coeing commented on #62
Just had another idea what could cause the issue: The re-subscribe request is send within the thread of the previous long poll request. This might be something the http client does not like. So now I am scheduling the re-subscribe request and execute it in a new thread.

I do not want to be too enthusiastic about it, but this might be the reason :) The new .jar contains the change, so feel free to

[2021-01-22 17:34] GerdZanker commented on #71
Fine! Then lets use ``main``.
This results in the follow repository branches and usages
1) ``openhab-addon/main`` -> official pull request target branch if we do more releases and main branch to start new developments
2) ``stefan-kaestle/main`` -> Bosch SHC main branch used to merge our feature branches, prepare releases and beta versions. We should do pull request reviews to merge changes and not

[2021-01-22 17:59] GerdZanker commented on #62
Here the "best of log" from last occurred issue. Compared to the last ``Timeout`` exception my bridge was still shown as "online".

	2021-01-21 19:58:19.539 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request
	2021-01-21 19:58:19.539 [DEBUG] [jetty.client.TimeoutCompleteListener] - Cancelled (true) timeout for HttpRequest[POST /remote/json-rpc HTTP/1.1]@bc6a79 on org.eclipse

[2021-01-22 18:36] MarkJonas commented on #62
@coeing I installed the updated and keep the fingers crossed. :smiley_cat: Thank you very much for stamina in trying to fix this issue.

I am just confused that the [updated bugfix.62 version](https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-bugfix.62) has the identical tag and release like the previous one. Also the bundle has the same version. I hope I installed it properly bu

[2021-01-22 19:29] coeing commented on #62
Those are both the current version, the last part of the version number is the build date/time, so today at 14:03 (one hour off due to timezone).

[2021-01-23 16:10] GerdZanker commented on #71
Hello @stefan-kaestle,
I pushed the ``main`` branch into this repo. Can you set this branch as the default [here in the branches overview](https://github.com/stefan-kaestle/openhab2-addons/branches) please?

[2021-01-23 16:22] GerdZanker commented on #72
I just compared the logged DEBUG output with the values and units in Bosch Smart Home App.

[2021-01-23 18:39] GerdZanker commented on #62
Hello @coeing with your test version ``3.1.0.202101221403`` I got not exception or timeout and my bridge is still working after 24h!
Here my log snippet with a successful re-subscription.

	2021-01-23 19:26:55.381 [DEBUG] [.internal.devices.bridge.LongPolling] - Long poll response: {"jsonrpc":"2.0","error":{"code":-32001,"message":"No subscription with id: ef5lmcknf-60"}}
	2021-01-23 19:26:55.382

[2021-01-23 19:36] coeing commented on #72
Smart! :) Will check your pull request immediately.

[2021-01-24 09:25] tuxianerDE commented on #62
16 hrs and counting. So far it does look still good and the data are still coming in.

[2021-01-24 16:14] #72 closed

[2021-01-24 16:15] GerdZanker commented on #72
PR #73 improves this issues

[2021-01-25 10:49] jkarsten commented on #62
Hello,
it is online since 23.01.2021 17:00.
Looks good.
Jörg

[2021-01-26 06:44] MarkJonas commented on #62
@coeing I also think you nailed it. It is now running for more than 72h hours without a freeze.

[2021-01-26 10:36] coeing commented on #71
@GerdZanker Just checked the main branch. I would suggest that we just merge the changes from `openhab-addons/main` into our main branch instead of doing a rebase in the future. This way our commits with their detailed commit messages remain intact.

[2021-01-26 10:56] coeing commented on #71
This is how it would look like in the git graph:
![image](https://user-images.githubusercontent.com/1310662/105836266-36f6a400-5fcd-11eb-94b8-811180bcbbf2.png)
![image](https://user-images.githubusercontent.com/1310662/105836277-3eb64880-5fcd-11eb-8b49-a84f4f4b1623.png)

We can probably create a release branch from our main branch once we want to create a pull request for the openHAB repository. T

[2021-01-26 16:14] coeing commented on #62
Thanks everybody for your tests! Seems like we found the reason for the bug now :) I will prepare a pull request which will bring the fix into the next version. We will probably create a version 1.1 because of the severity of this bug.

[2021-01-26 16:37] coeing commented on #71
@GerdZanker I created a `main-with-merge` branch, so you can check how the structure would look like. Data-wise it is identical with the current `main` branch. If you are fine with it I would prefer to have our past commits saved for future reference :)

[2021-01-27 10:07] jkarsten opened #74 "After Update and Reboot the Controller the Thing is Offline"
Hello,

yesterday i had an Update Message in the Bosch App.
After the Update and the Reboot my Controller Thing is Offline.
I need to restart the Thing.

I dont know if this will happen when you disconect Power.

Jörg

[2021-01-27 12:48] tuxianerDE commented on #62
Sorry to be a party bummer, but last night it stopped working again.
I am waiting to get the logs, sorry for the disappointment!

![image](https://user-images.githubusercontent.com/47778296/105993133-48f84580-60a6-11eb-8126-3e729db9c7f9.png)

[2021-01-27 15:22] coeing commented on #62
It's probably another issue, maybe due to an update? Please check #74

[2021-01-27 15:27] tuxianerDE commented on #62
damn it that silent update make it break. however all other automation was still working like sending commands to the shutters etc. :-S

[2021-01-27 16:26] coeing commented on #62
Your logs will be useful anyway to fix the new bug #74, so please feel free to attach them to the other ticket :)

[2021-01-27 16:28] coeing commented on #74
As @tuxianerDE mentioned in #62 only the state updates stopped working after the controller update. So I hope we get a specific LongPollError in case of an update (the reason might be that the long polling subscription becomes invalid). We should see that in the logs. In that case we can easily restart the long polling as it is done already.

[2021-01-27 16:45] GerdZanker commented on #74
Same happened for me during my SHC update.
The Long Polling was stopped and the Bridge Thing was "offline.

A recovery of the Bridge after unusual failures like updated, network outage, etc. is useful. Compare [with this comment](https://github.com/stefan-kaestle/openhab2-addons/issues/62#issuecomment-764831803)

[2021-01-27 17:03] coeing commented on #74
Yes, there is already a fallback for the long polling but it does not seem to work. I guess it is for the same reason as #62 (sending a new request within a http thread). I will probably see it in the logs once one of you provided them :)

[2021-01-27 18:45] MarkJonas commented on #62
@coeing I have to chime in. It also stopped working for me. I'll send you the logs by email. Now it seems to be a 5 days (120 hours) problem. My last restart was January 22nd, ~19:30 o'clock. It stopped January 26th, ~19:30 o'clock.

![freeze-after-5-days](https://user-images.githubusercontent.com/12135716/106038164-dc963a00-60d7-11eb-846b-1366f1bd1120.png)

[2021-01-27 18:55] GerdZanker commented on #62
Hi @MarkJonas, is your restart related with the Bosch SmartHomeController update rolled out in the last days?

[2021-01-27 18:56] GerdZanker commented on #74
Here is the log from my controller update

	2021-01-26 20:17:19.937 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request
	2021-01-26 20:17:19.938 [TRACE] [ernal.devices.bridge.BoschHttpClient] - Create request for http client BoschHttpClient@18fc7da{STARTED}
	2021-01-26 20:17:19.939 [TRACE] [ernal.devices.bridge.BoschHttpClient] - create request for https://192.168.178.31:844

[2021-01-27 18:57] MarkJonas commented on #62
@GerdZanker I was just thinking about that! Yes, I think yesterday evening the SHC installed the an update. So the 5 days might be a coincidence. But still it should not freeze due to a reboot of the SHC, right?

[2021-01-27 19:11] GerdZanker commented on #74
Here is a log where I disconnected the SHC from the network to check what will happen

	2021-01-27 20:06:10.717 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request
	2021-01-27 20:06:10.721 [TRACE] [ernal.devices.bridge.BoschHttpClient] - Create request for http client BoschHttpClient@a6cf34{STARTED}
	2021-01-27 20:06:10.724 [TRACE] [ernal.devices.bridge.BoschHttpClient] - cr

[2021-01-27 19:16] GerdZanker commented on #62
Right, but root cause could be a different one and another code fix could be necessary @coeing tracked this COMMUNICATION_ERROR after reboot as a standalong issue in #74.

(It also feels a bit better if we can close on bug and tackle the next one)

[2021-01-27 19:52] coeing commented on #74
@GerdZanker Disconnecting the controller looks like a good way to test this issue :) It looks like the current running long poll request times out which is expected due to the disconnect of the controller (I hoped that the API will send a specific error code in that case, so we know that the controller restarts, but it does not look like it).

First I will check if the re-subscribe request is send

[2021-01-27 19:54] coeing commented on #71
@GerdZanker I would like to base my pull request for #62 (and #74) on the new main branch, so it would be great if we could get a final solution here :)

[2021-01-27 20:09] GerdZanker commented on #71
Please continue with your pull requests using your branches as the solution for us.
I will adapt my contributions to your git way.
If we find drawbacks we can change it in the future.

My personal experience is to rebase more often compared to merging to get simpler, cleaner gitlogs.

[2021-01-27 20:16] coeing commented on #71
Yes, I like rebasing as well. But rebasing AND keeping our commits would mean to rebase all the commits from the start of the binding, which is not fun ;) So merging the openHAB main branch every now and then seems like a good compromise. As you said, we can change it if we encounter severe disadvantages with it 👍

[2021-01-27 20:19] coeing commented on #74
Thanks to @MarkJonas we have the proof that the update was the reason for the long polling to stop 👍

I will create a new version to test with.

[2021-01-27 20:21] coeing commented on #74
New version is here: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.0-bugfix.74 I will try it myself with a manual disconnect.

[2021-01-27 22:08] coeing commented on #74
The restart works with the new version. But as expected the re-subscribe request fails with a timeout after 10 seconds:

org.openhab.binding.boschshc.internal.exceptions.LongPollingFailedException: Unexpected exception during long polling request
	at org.openhab.binding.boschshc.internal.devices.bridge.LongPolling.onLongPollComplete(LongPolling.java:199) [bundleFile:?]
	at org.openhab.binding.bosc

[2021-01-28 18:24] jkarsten commented on #74
Hi,
I tested the binding today. I discount the Power and reconnect IT after a Minute. After a Short time the Thing was offline. After about 10 minutes it was online again. Looks Good for me,
Jörg
![Screenshot_20210128-182605_Chrome](https://user-images.githubusercontent.com/6240493/106181898-71636b00-619e-11eb-960f-6d2ff2634ca9.jpg)
![Screenshot_20210128-183857_Chrome](https://user-images.githubus

[2021-01-28 18:44] GerdZanker commented on #74
Sorry I have no idea. The SHC software is Linux and Java/OSGi as far as I know and I would use the SHC LED as an indication to check when the startup phase is finished. My personal guess is >30 seconds, up to 4-5 Minutes which I know best from my RPi.

I not took a look into your code how you @coeing improved it. My current idea in mind is do retries e.g. every 30 seconds if the bridge can connect

[2021-01-28 18:58] coeing commented on #74
Thought about ~5 minutes as well. I will see if one request with such a long timeout is enough or if I have to do retries.

[2021-01-28 19:40] coeing opened #75 "When controller is restarting, isAccessPossible returns true although the service is still unavailable"
I had this case while testing the fix for #74

The logs show it pretty good:

2021-01-28 19:34:17.367 [DEBUG] [ernal.devices.bridge.BoschHttpClient] - Access check response complete:  - return code: 503
2021-01-28 19:34:17.368 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Sending http request to Bosch to request rooms
2021-01-28 19:34:17.377 [DEBUG] [devices.bridge.BoschSHCBridgeHandler] - Resp

[2021-01-28 19:49] coeing commented on #74
Alright, I think this should work: When long polling fails the bridge is now completely reinitialized by running `scheduleInitialAccess` again. This way every 15 seconds it is checked if the controller is accessible (@GerdZanker there is a minor bug in it, see #75) and if so the pairing is validated (which should still work) and the long polling is started again.

This sounds like a clean and soli

[2021-01-28 19:52] coeing commented on #74
I already created a pull request (#76), but will wait with the merge until I got some positive feedback from you guys! :)

[2021-01-28 20:04] coeing opened #77 "Change title of binding to "Bosch Smart Home" instead of BoschSHC"
Right now it is called (at least for my version openHAB 3.1-SNAPSHOT): "BoschSHC Binding"

![image](https://user-images.githubusercontent.com/1310662/106192200-25b7be00-61ac-11eb-92c0-4d1a5387fc88.png)

This is too technical and we should rename it to "Bosch Smart Home".

[2021-01-29 06:19] jkarsten commented on #74
Ok tomorrow i looked in my Thingslist and the Controller was still online.
But the Values are still the same.
I looked into the logs and found after he connected again to the controller
`2021-01-28 18:36:47.987 [DEBUG] [.internal.devices.bridge.LongPolling] - Canceling long polling for subscription id efabe96ij-1 because it was aborted
`
This are the last 15 Minutes from the log:
`2021-01-28 18:23

[2021-01-29 09:06] GerdZanker commented on #75
Yes, indeed. When the server responsed with HTTP-Statuscode 503 Service Unavailable we should return ``true`` in ``isAccessPossible ()``

[2021-01-29 09:39] coeing commented on #75
should or should not? :)

[2021-01-29 09:46] coeing commented on #74
@jkarsten Thanks for your logs! The long polling should only be aborted when the binding is stopped. Is it possible for you to reproduce this issue with the latest version by disconnecting the controller manually (either power or network should work)? If the issue is reproducible I can check it on my side.

[2021-01-29 09:58] GerdZanker commented on #75
" should not " - I updated me comment

[2021-01-29 12:50] sebastianharder opened #78 "Migrate to API 2.1"
Support for API 1.0 is dropped, see BoschSmartHome/bosch-shc-api-docs#46

Migration to 2.1 is required.

[2021-01-29 12:58] GerdZanker commented on #13
See also https://github.com/BoschSmartHome/bosch-shc-api-docs/issues/39

[2021-01-29 13:04] GerdZanker commented on #78
Thanks a lot for this vital information @sebastianharder.

[2021-01-30 12:29] coeing commented on #78
@sebastianharder Is the official API documentation at https://apidocs.bosch-smarthome.com/local/ already up-to-date? I/We use that page a lot to get the data structures right :)

[2021-01-30 12:36] coeing commented on #74
@GerdZanker Did you have time to check my newest test version by manually disconnecting your controller and connecting it again? If my fix works I'd like to merge it and create a pull request into openHAB as a version 1.1. Afterwards we can fully concentrate on v2.0 :)

[2021-01-30 13:29] MarkJonas commented on #74
@GerdZanker @coeing I just upgraded to OH 3.0.1 and also switched to the test version for bug #74 fd5dc41.

- At about 14:10 I restarted the SHC by removing power and applying it again.
- After some time the log as well as the GUI told me that I had to press the SHC's button to bind again and I did so. (I did not expect that I had to rebind. Is that like it should or maybe another issue?)
- Now th

[2021-01-30 15:26] GerdZanker commented on #78
[Here is the diff](https://github.com/BoschSmartHome/bosch-shc-api-docs/compare/0.5...2.1.0) between the two available releases 0.5 and 2.1. An API Version 1.0 is not tagged in github.

[2021-01-30 15:30] GerdZanker commented on #77
Please let us include this change into our bugfix Version 1.1 because I agree that most openhab users will not know what "SHC" is.

[2021-01-30 15:30] GerdZanker commented on #74
I will test the new version today and do the PR review.

[2021-01-30 16:30] GerdZanker commented on #74
Hi @coeing,
I tested the new version and the bridge is back "online" after I disconnect and connect the network cable of SHC.  So your code fixes #74 for me.

I checked the log context and found some unexpected lines

	2021-01-30 17:10:42.971 [TRACE] [ernal.devices.bridge.BoschHttpClient] - Create request for http client BoschHttpClient@112294f{STARTED}
	2021-01-30 17:10:42.976 [TRACE] [ernal.devi

[2021-01-30 17:44] GerdZanker commented on #74
Hello @MarkJonas ,

I can explain some of your observations and logs

With the removed power, the old LongPolling failed. The BridgeHandler will receive the error and waits 15 seconds before a new reconnect - due to the improved code.
The new reconnect fails most likely because the power is off. The bridge is currently too stupid and tries to pair, visible to you in the UI status.
After the power

[2021-01-30 19:41] coeing commented on #78
@GerdZanker Thanks :) It does not look too different, so we should be fine.

[2021-01-30 19:42] coeing commented on #78
@GerdZanker Thanks :) It does not look too different, so we should be fine.

[2021-01-30 19:44] coeing commented on #74
@GerdZanker Agree, this is what I had in mind for #75 :) For the current case it would be enough to make isAccessPossible return false if it returns 503, but two methods sound even cleaner.

[2021-01-31 07:48] sebastianharder commented on #78
@coeing https://apidocs.bosch-smarthome.com/local/ is not yet up-to-date. We are working on it.

For now, everything should still work if you replace the version in the "api-version" header with "2.1".
The version jump from 1.x to 2.x was only due to internal APIs that are not part of the public API.

However, you might want to consider to support the profiles for the intrusion detection system, w

[2021-01-31 09:11] coeing commented on #78
@sebastianharder Thanks for the clarification. About the intrusion detection: We will support more devices over time, let's see what we get into v2 :) We will first support the devices we have at home ourselves, I have no intrusion detection system myself, so it is hard to test the correct implementation.

[2021-01-31 17:49] #77 closed

[2021-01-31 19:43] coeing commented on #74
Should be fixed by #76 We will create a pre-release version 1.1 soon, so everybody can test again if it works as planned :)

[2021-01-31 19:43] #74 closed

[2021-01-31 19:43] coeing commented on #62
Should be fixed by #76 We will create a pre-release version 1.1 soon, so everybody can test again if it works as planned :)

[2021-01-31 19:43] #62 closed

[2021-02-02 17:36] coeing commented on #75
@GerdZanker I think this should go into 1.1 or should I prepare the pull request for openHAB already?

[2021-02-02 18:44] GerdZanker commented on #75
Yes, I also want a fix in 1.1 and provide code + PR during this week (at least that's my plan).

Do you @coeing already want to build a "1.1 Beta 1" version for testing?

[2021-02-02 19:49] coeing commented on #75
@GerdZanker Sounds good, hope nothing gets in your way ;) The test version for #74 had almost everything in it that the pull request had, so I'd like to wait for the version to be complete before asking our users to test it.

[2021-02-03 20:35] GerdZanker commented on #78
This should be an easy change, because ther is one central ``createRequest`` function.

[2021-02-06 16:14] coeing opened #82 "Make "main" the main branch"
Right now it is "master". We are working already on "main" as the main branch.

[2021-02-06 16:16] coeing commented on #82
@stefan-kaestle: You are the only one who has the rights to change it, that's why I assign this issue to you :) Feel free to give me and/or @GerdZanker the rights to manage this repository if you feel like it, so we can do such changes in the future.

[2021-02-06 16:23] coeing opened #83 "Add information to each channel in README.md if it is writeable"
We have only some channels that are writeable, but there is no information about it in the README.md. A new column "writeable" with "Yes" or "No" should be sufficient.

[2021-02-06 16:29] coeing opened #84 "Add a short description for each device/thing to README.md"
At least for special things like "Climate Control" which are probably hard to understand without a short description: https://www.openhab.org/addons/bindings/boschshc/#bosch-climate-control

The descriptions should be the same as the ones in the openHAB UI.

[2021-02-06 17:12] #78 closed

[2021-02-06 19:01] #75 closed

[2021-02-08 19:21] coeing opened #85 "Release v1.1 Discussion"
Hey there,

I started a pull request for our v1.1 version: https://github.com/openhab/openhab-addons/pull/10097

There is a release candidate version everyone interested can test: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.1-rc1

I created a new branch "releases/v1.1" for the pull request, so we might already continue our development on the main branch towards v2 :)

[2021-02-09 09:44] sebastianharder commented on #78
@coeing  https://apidocs.bosch-smarthome.com/local/ is now up-to-date.

Cheers!

[2021-02-09 16:06] coeing commented on #78
Thanks @sebastianharder ! That site is my favorite one for information about your API, so it's nice that it is up-to-date :)

[2021-02-12 18:41] DirkSander opened #87 "how-to: install Bosch SHC binding on openHAB2 (2.5.12)"
Hi there!
I updated openHAB2 up to 2.5.12. Unfortunately “Bosch SHC” is not provided as an installable binding. Do I have to build the jar-file on my own from the sources in this repository?

Thanks for your help and your work on the Bosch SHC binding!

Best,
Dirk

[2021-02-12 19:25] coeing commented on #87
Hi @DirkSander!

Yes, you can try to build it from the sources, but officially we do not support openHAB2. The development for our first version ended after openHAB3 was already ready for release, so we decided to support openHAB3 only and have no plans to support openHAB 2 as well. But feel free to report back if it worked with your self-build jar, there might be more developers who still use ope

[2021-02-14 19:53] coeing commented on #85
Our pull request was already merged 👍 I will merge the branch back to main and delete it afterwards.

[2021-02-14 19:57] #85 closed

[2021-02-14 20:58] coeing commented on #40
Currently only two handlers are missing:
- MotionDetectorHandler
- TwinguardHandler

[2021-02-15 20:21] #46 closed

[2021-02-17 13:31] Powerpitte opened #91 "Jar File For Windows"
Hi,
I run an OpenHab 3 on Windows and I downloaded "org.openhab.binding.boschshc-3.1.0-SNAPSHOT.jar" for testing of my Bosch Twinguard deployment. Do I have to build each version to are jar-file on my own, or can I download that file somehow?
I'm no Software developer, but I have much interested in that topic in special for the Bosch SHC stuff and I would like to help developing.

Best regards
Dan

[2021-02-18 17:53] coeing commented on #91
Hi Daniel,

Thanks for your interest in our binding :)

In openHAB 3.1.0 you can install our binding directly via the openHAB UI as we are an official addon for openHAB. You can also download the newest version here: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.1-rc1 It is almost the same version without some of the code refactoring we did for the merge into openHAB.

If you h

[2021-02-22 18:55] GerdZanker commented on #91
Hello @Powerpitte, every contribution is welcome. As a user you can make suggestions for improvements or supporting the documentation to start slowly into the world of git version control and coding without bothering too much with Java.

[2021-02-22 20:34] coeing commented on #40
Fixed by #89

[2021-02-22 20:34] #40 closed

[2021-02-23 19:34] coeing commented on #34
Fixed by #90

[2021-02-23 19:35] #34 closed

[2021-03-01 20:16] coeing commented on #71
Closing this as we seem to agree on the important points :)

[2021-03-01 20:16] #71 closed

[2021-03-01 20:17] coeing commented on #87
Closing this as there are no further questions. @DirkSander If you have more questions feel free to re-open this issue :)

[2021-03-01 20:17] #87 closed

[2021-03-01 20:18] coeing commented on #91
Closing this as there are no further questions. @Powerpitte Feel free to re-open if your question was not answered correctly :)

[2021-03-01 20:18] #91 closed

[2021-03-02 19:27] MarkJonas commented on #66
I missed the v1.1 release. I'll give it a try on the weekend.

[2021-03-02 19:47] #84 closed

[2021-03-02 19:47] #83 closed

[2021-03-05 09:57] MarkJonas commented on #66
I installed [v1.1-rc1](https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.1-rc1) yesterday. Today I was able to verify that the **problem is still still there**. That is, sometimes temperatures are dropping close to 0 °C.

[2021-03-05 11:19] coeing commented on #66
Thanks for verifying the issue! :) Did you have Debug or Trace logging enabled when the issue occurred? And could you send us your log, so we have a chance to find out what is causing the issue?

[2021-03-05 13:42] MarkJonas commented on #66
@coeing @GerdZanker I sent the logs to you by email. Log level is *TRACE*.

[2021-03-07 19:09] coeing commented on #66
Thanks to the logs from @MarkJonas I found the following lines:
[code]
This indicates that the Twinguard handler casts a smokeSensitivityState update to an AirQualityLevelState. This would cause the temperature (and other) fields to have their default value (which is 0 for numbers) and would explain the observed bug.

I will try to find time to look into the handler this week to fix the issue. @Ma

[2021-03-09 22:04] stefan-kaestle commented on #82
Weird. I have you both down. As collaborators since the beginning. I haven't found any more permissions I could assign you.

I will try to make main the main branch.

[2021-03-09 22:07] stefan-kaestle commented on #82
Can't do it because it already exists.. going to have a more detailed look tomorrow. It's hard on the phone :->

[2021-03-10 13:49] stefan-kaestle commented on #82
Done. Please let me know in case I made a mistake :-)

[2021-03-10 13:49] #82 closed

[2021-03-15 20:42] snooops opened #94 "No Bosch Smart Home Binding in a fresh openhab installation"
Hi,

i just installed openhab on a ubuntu 21.04 and there is no Bosch Smart Home Binding available in the addon list of openhab, even with the manual build.

[2021-03-15 21:17] snooops commented on #94
Nevermind, after i used the java from zulu it works :)

[2021-03-15 21:17] #94 closed

[2021-03-19 17:21] coeing commented on #66
@MarkJonas I fixed the check if the received state has the expected type. This should make sure that no invalid state is passed to the handler. Please test with this version:  https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.1-bugfix.66.1

You should see some "Received invalid, expected type org.openhab.binding.boschshc.internal.devices.twinguard.dto.AirQualityLevelState" warnings

[2021-03-19 17:29] coeing commented on #66
As far as I see it you should not even get a log warning. The TwinguardHandler was changed to use the new service architecture which checks the ID of the received state. The ID is the service name and a service only processes their own state updates, so my additional check should never fail. Nonetheless, please test the version I provided so we can be sure that your bug is fixed :)

[2021-03-19 19:40] coeing commented on #61
This looks like it works like the ClimateControl devices we already have. Should be pretty easy to implement.

[2021-03-19 19:41] coeing commented on #51
The SmokeDetector service is also required for the Twinguard device, so we could enhance the Twinguard thing and add a new SmokeDetector thing with one service.

[2021-03-19 20:58] coeing commented on #25
@GerdZanker Implemented the humidity level service and the wall thermostat handler (#96). It was straight forward, but I have no such device at home, so I depend on you to test my implementation :)

[2021-03-19 21:11] coeing commented on #63
I had a look at this issue, but I can't find any way to make setting the bridge mandatory/required. @MarkJonas Do you use other bindings and could check if they show an error if no bridge is set? For me it looks like this is missing in openHAB itself and we can not work around that limitation.

[2021-03-19 21:12] coeing commented on #63
Just as an addition: The place this should be setup would be `thing-types.xml` where the relationship between a thing and the bridge is made like this:
[code]

[2021-03-19 21:59] coeing commented on #41
I managed to enable/disable the child lock via Postman. The service seems to be called "Thermostat" which is kind of strange, but probably due to their API growing over time ;) Anyway we could add a new service which will be added to the thermostat thing. This service will be linked to a "child lock" channel.

[2021-03-20 14:01] MarkJonas commented on #66
@coeing Thank you very much for the updated version. I just installed it. The plan is to let it run for ~36 hours and then check for success. So far there was always at least one even during a period of 24 hours.

[code]

[2021-03-20 14:29] MarkJonas commented on #63
@coeing I tried *jeelink:lacrosse*, *homeconnect:coffeemaker*, and *boschshc:in-wall-switch*. None gives an error when creating a thing and forgetting to select the bridge. But the way how the problem is communicated after creation is different.

# jeelink
In the things list the *jeelink:lacrosse* will show as `ERROR: HANDLER`. When clicking on the thing it will be `UNINITIALZED` with the followin

[2021-03-21 15:51] MarkJonas commented on #66
Until now it is looking good. :smile:

[2021-03-22 08:28] coeing commented on #63
@MarkJonas Thanks for your documentation how the other plugins work :) I think the best way for us would be to open an issue in the main openHAB repository about this missing feature. Maybe there is already an issue in their issue tracker about it.

From our side we could only add a better identifier for the thing that is missing the bridge, but other than that I see no possibility to improve the

[2021-03-22 18:33] GerdZanker commented on #63
+1

Its not finished, but with the #27 "Discovery" the bridge will be set automatically and avoids this issue

[2021-03-24 19:28] #25 closed

[2021-03-25 06:52] MarkJonas commented on #66
@coeing There are still no misreadings, neither at temperature nor at humidity. So I think the bug has been successfully resolved. :1st_place_medal:

[2021-04-01 14:13] #66 closed

[2021-04-16 20:43] endsideX opened #98 "Status of devices frozen"
I would like to thank you for the great addon. The addon was working good for a few days, but the status of my devices are frozen. All devices are “online”. The following debug log is provided when I open the window:

`21:59:39.441 [DEBUG] [c.internal.devices.bridge.LongPolling] - Sending long poll request
21:59:49.793 [DEBUG] [c.internal.devices.bridge.LongPolling] - Long poll response: {"result"

[2021-04-18 19:02] coeing commented on #98
Hi @endsideX ,

Thanks for your report. Could you tell us what you expect? The fact that your devices are online is a good sign as this means that they are connected to your Bosch Smart Home Controller and openHAB :)

[2021-04-18 19:38] endsideX commented on #98
Hi @coeing,
unfortunately, the status in OpenHab does not match the status in the smart home app or in reality. As you can see in the debug log, the status is reported correctly, but somehow not processed in my case. The status does not change.
This concerns especially the window contacts, the set temperature, and socket.

I would like to be able to use my Bosch devices in Openhab.

[2021-04-18 20:16] endsideX commented on #98
The messages arrive, but they are of the wrong type. Here are some examples

<Incoming: "@type":"shutterContactState"
Expected: ShutterContactServiceState

Incoming: "@type":"powerMeterState"
Expected: PowerMeterServiceState

Incoming: "@type":"powerSwitchState"
Expected: PowerSwitchServiceState

Incoming: "@type":"climateControlState"
Expected: RoomClimateControlServiceState>

I am using the late

[2021-04-20 19:54] endsideX commented on #98
The problem was because I use openhab 3.0.1. I now use 3.0.0-SNAPSHOT and it works.

[2021-04-20 19:54] #98 closed

[2021-04-21 07:29] coeing commented on #98
@endsideX I am glad that you found the reason for your problem! :) It looked strange as the message type is the expected one (e.g. ShutterContactServiceState has the identifier "shutterContactState"). @GerdZanker already merged the latest openHAB code into our repository, so our next official version will work with the latest openHAB version.

If you have any other problems, don't hesitate to open

[2021-05-02 16:48] GerdZanker opened #99 "localize exception messages"
Please localize the exception messages, because they are often forwarded to the UI.
So it might be a good idea if they can be localized.

See also PR #92 comments.

[2021-05-03 08:27] Lyann opened #101 "Received invalid - State within openhab not updated properly"
Receiving a lot invalid types messages:
[hc.internal.services.BoschSHCService] - Received invalid, expected type org.openhab.binding.boschshc.internal.services.temperaturelevel.dto.TemperatureLevelServiceState
[hc.internal.services.BoschSHCService] - Received invalid, expected type org.openhab.binding.boschshc.internal.services.valvetappet.dto.ValveTappetServiceState
[hc.internal.services.BoschSHC

[2021-05-04 18:19] #41 closed

[2021-05-04 19:00] coeing commented on #101
@Lyann Thanks for your report!

Could you enable debug or trace logging and post the logs around the warning? This should help a lot with finding the bug :)

[2021-05-04 19:31] coeing commented on #101
@Lyann No need for the logs as I could reproduce (and fix) it in my own system as well :)

[2021-05-06 18:37] #101 closed

[2021-06-03 19:21] coeing opened #103 "Support for Groundfloor Heating Controller (Fussbodenheizung)"
See https://github.com/openhab/openhab-addons/issues/10767

[2021-06-03 19:42] coeing commented on #63
I opened an issue in the openHAB addons issue tracker, let's see if there will be some response to it :)

In the meantime I will change the error message to have a better identifier for the thing.

[2021-06-03 21:34] coeing commented on #103
This might be solved by a new version with the Wall Thermostat in it. I will wait for a comment by the reporter.

[2021-06-03 21:42] coeing commented on #51
Smoke Detector is documented in the API docs: https://apidocs.bosch-smarthome.com/local

[2021-06-03 21:45] coeing commented on #61
On https://apidocs.bosch-smarthome.com/local there is LightControl documented, but it has a powerSwitchState instead of a binarySwitchState :/

I might have to ask for the API documentation for these virtual devices in the Bosch repository first.

[2021-06-30 16:33] #63 closed

[2021-07-27 17:36] coeing opened #106 "Version 1.2"
There are already some important bugfixes (e.g. #66) and some features that would be great to bring to the public (including @MarkJonas ;) ). So I would suggest to open a new release branch, building a new release candidate and open a pull request to merge it into openHAB.

Initially I would have liked to wait for the main feature "Discovery" to be available, but we can easily publish it in the ne

[2021-07-27 18:41] GerdZanker commented on #106
do not wait

another pull request shouldn't take too long.

[2021-07-29 20:11] coeing commented on #106
Alright, I merged the latest code from openHAB, created a release branch (releases/v1.2) and built a first release candidate (https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.2-rc1).

Here is a list of issues that were fixed since 1.1:
- #46
- #40
- #34
- #83
- #84
- #25
- #66
- #41
- #101
- #63

It would especially be great to have some testers for the new things/devices we added

[2021-07-29 20:17] coeing commented on #106
The plan is to have two weeks of testing. Afterwards I will create a pull request in the official openHAB repository for our new release.

[2021-08-02 09:54] MarkJonas commented on #106
I installed the updated binding this morning and it was accepted by openHAB 3.1.0.

What I noticed though is that the *settings/addons/binding* bindings page shows 3.1.0 as the version of the binding.

![image](https://user-images.githubusercontent.com/12135716/127841937-d7dded35-f924-4f82-9c68-df324fcebc6b.png)

But the *bundle:list* command shows 3.2.0:
[code]

[2021-08-02 17:38] coeing opened #107 "Update version number from 3.1.0 to 3.2.0"
I installed the updated binding this morning and it was accepted by openHAB 3.1.0.

What I noticed though is that the *settings/addons/binding* bindings page shows 3.1.0 as the version of the binding.

![image](https://user-images.githubusercontent.com/12135716/127841937-d7dded35-f924-4f82-9c68-df324fcebc6b.png)

But the *bundle:list* command shows 3.2.0:
[code]

_Originally posted by @MarkJonas i

[2021-08-02 17:39] coeing opened #108 "Add changelog for version 1.2 to Readme"

[2021-08-04 17:38] MarkJonas commented on #106
The v1.2-rc1 binding is working fine since I installed it 2.5 days ago. :+1: :smile:

[2021-08-10 07:44] csprang commented on #98
Dear all,

even I have some of the BOSCH and other Smart Home Equipment for a longer time, I'm quite new with Openhab. I like the Bosch Binding for openhab on my Raspi for implementation of more complex automation.

As @endsideX I also have the problem, that the items of the Bosch Bindings are frozen after a while, so the status of the items is not changed anymore if the Bosch devices (inwall-swit

[2021-08-10 11:38] csprang opened #109 "[Bosch Smart Home Binding] Status of Bosch-Items not updated when Bosch-Devices triggert"
Dear all,

even I have some of the BOSCH and other Smart Home Equipment for a longer time, I'm quite new with Openhab. I like the Bosch Binding for openhab on my Raspi for implementation of more complex automation.

As @endsideX I also have the problem, that the items of the Bosch Bindings are frozen after a while (#98), so the status of the items is not changed anymore if the Bosch devices (inwal

[2021-08-12 18:49] coeing commented on #109
@csprang Thanks for your report! :)

Could you try the release candidate of our binding? https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.2-rc1 There seemed to be an issue with version 1.1 of our binding and openHAB 3.1. It should be fixed with version 1.2.

[2021-08-13 11:34] csprang commented on #109
@coeing, thanks for your quick answer and help!!

I installed your release candidate V1.2 on my openHAB 3.1 ...

my actual test experience is that the WindowContact-Devices are working now, even the Twinguard,
but the shown status of in-wall-switch (and plug) is still not reliable, if you chance the device-status
outside the openHAB-environment (i.e. by pushing manually the switch).

I deleted the

[2021-08-15 20:48] coeing commented on #109
Hi @csprang,

Thanks for your update. Glad that it at least kind of works for you :) Could you describe concretely what you mean with "getting out of sync". E.g. which device, which channel, what value does it show and which value would you expect? That might help with reproducing the error.

[2021-08-17 20:00] csprang commented on #109
Hi @coeing,

A Short cut from my testszenario...

Environment:
I'm using BOSCH-Bridge (newest sW-Version), OpenHAB 3.1 on RASPI 3 with your BOSCH-Binding V1.2.

Test-Setup:
I created a Thing from the BOSCH-Binding with the label "BSHSwitch01" as the type  "in-wall-switch" and instantiated the Channel  called "BSHSwitch01_Betrieb" with a Item called "Lights" (turning on/off the light).  The Thing i

[2021-08-18 20:38] coeing commented on #109
Hi @csprang

Thanks for the details about your setup! It's good that it also occurs for the shutter controls, as I have some in my home as well. So I can try to reproduce your issue. I hope that I find time for it soon.

Cheers
Christian

[2021-08-20 19:03] coeing commented on #107
I did not find any place to update this version number, I guess it is set by openHAB itself? @GerdZanker Do you know if it is possible to set this version number? If not I would like to close this issue.

[2021-08-20 19:18] #108 closed, assigned to coeing

[2021-08-20 19:48] coeing commented on #109
@csprang I had time today to test my rollershutters and they still work fine with version 1.2.

Could you make sure to enable the logs for our binding? On the console this should be possible with:

[code]

That should give you many, many information about what is happening in our binding in the openHAB log. Please do your test again then and post your logs. That should give us a good idea what goe

[2021-08-20 19:50] coeing commented on #106
As the new version seems to work fine so far (I tested #109, but could not reproduce the issue), I will open a pull request in the main openHAB repository now :)

[2021-08-22 11:44] csprang commented on #109
Hi @coeing,

I set the trace and used the shutter-control and in-wall-switch with the OpenHAB-PaperUI and directly after with the physical button at the wall. While you can find entries in the trace below for the PaperUI-Driving actions (Shutter Down/Up, Switch On/Off), there are no entries created for the Commands triggered by the physical Buttons ... it still looks, that the Bosch-binding is Com

[2021-08-22 15:14] GerdZanker commented on #107
I don't know it.
I think that the ``bundle:list`` version is the one defined via the "bundles/org.openhab.binding.boschshc/pom.xml" -> parent version. For the other version I guess it could be the ``${project.version}`` in "bundles/org.openhab.binding.boschshc/src/main/feature/feature.xml".

[2021-08-22 17:18] coeing commented on #109
@csprang That's very strange, you should have long polls for the Bosch devices all over the log (every 20 seconds), something like this:

[code]

But the long polling (which is the way the things get state updates from the Bosch devices works) does not seem to be active. Could you check if you find any logs from `LongPolling` in your logs? There might be an error during the subscription for the lo

[2021-08-22 17:24] coeing commented on #107
@GerdZanker Alright, thanks! For me it looks like the `${project.version}` is set by openHAB during their builds, so it will be fixed there.

[2021-08-22 17:24] #107 closed, assigned to coeing

[2021-08-25 13:54] csprang commented on #109
Hi @coeing,
I just Look via GREP Thru the Logs to find some LongPolling request but just found 3 entries in OpenHAB.log

openhabian@openhabian:~ $ grep -i long /var/log/openhab/*log
/var/log/openhab/openhab.log:   at org.openhab.binding.boschshc.internal.devices.bridge.BridgeHandler.handleLongPollResult(BridgeHandler.java:320) ~[?:?]
/var/log/openhab/openhab.log:   at org.openhab.binding.boschshc.

[2021-08-26 07:33] coeing commented on #109
@csprang Alright, thanks. Could you post the whole logs from those locations? Right now you only posted the locations from where the logs where posted. The log messages are probably in the next lines after the ones you posted.

By the way: You can rename or delete the log files before you start openHAB to get smaller log files to search in :)

[2021-09-01 17:16] csprang commented on #109
[OHLogs.zip](https://github.com/stefan-kaestle/openhab2-addons/files/7093120/OHLogs.zip)

@coeing, I tried to attached a ZIP-file with the logs from Openhab - hope you have access to the logs.
Unfortunately I'm still not so familiar with the whole system therefore I just copied the existing logs,
but will try to delete them and create a smaler logfile

[2021-09-05 20:45] coeing commented on #109
@csprang That helped, thank you! :)

Here is the part where the error occurs:
[code]

It happens right at the start of the long polling, so it does not surprise that you get no state updates. I will have to investigate what the error means, I have not seen such an error before.

[2021-09-05 21:06] coeing commented on #109
@csprang Unfortunately you do not seem to have the TRACE logging for our binding enabled (`log:set TRACE org.openhab.binding.boschshc`), so I do not see detailed information about what happens. What I will do is to make sure that no NullPointerException occurs at the reported location. But apart from that I can't do much without further information.

[2021-09-05 21:15] coeing commented on #106
Pull Request is still pending: https://github.com/openhab/openhab-addons/pull/11134

[2021-09-06 17:29] MarkJonas commented on #106
Is it maybe because the PR build check is failed and thus the PR is blocked?

![image](https://user-images.githubusercontent.com/12135716/132248774-a0504dc2-7420-4fc1-98f7-070d0ac832d9.png)

When looking into the referenced [build 5426](https://ci.openhab.org/job/PR-openHAB-Addons/5426/) I see that the Bosch Smart Home Binding failed.

![image](https://user-images.githubusercontent.com/12135716/13

[2021-09-06 20:12] coeing commented on #106
@MarkJonas Thanks for the hint! The warnings are not from our binding though, so we can not fix them :) But I could try to merge the latest changes from the main openHAB branch into our release branch.

[2021-09-06 21:25] coeing commented on #106
@MarkJonas It was an error during the static code analysis of our binding. Fixed it now, hopefully the build is successful now :)

[2021-09-08 18:40] coeing commented on #106
Build was successful, now we have to wait for the openHAB maintainers: https://ci.openhab.org/job/PR-openHAB-Addons/5432/ 👍

[2021-10-03 15:01] xxthunder commented on #109
Hi there, first of all thanks for the binding and keeping the development for it alive. A great contribution to openHAB.

@coeing I would really like to help here. I got the same problem as @csprang , my roller shutters can be controlled from openHAB, but no states are updated when controlled from the in-wall switch itself or the Bosch app. The states of my other devices like window contacts and t

[2021-10-03 15:34] xxthunder commented on #109
@coeing Ok, I just rebooted my OpenHAB, tracing is enabled, I get log entries like this every 20 seconds like you said. Here the log entry while I applied the in-wall switch of my office shutters:

2021-10-03 17:32:16.124 [DEBUG] [.internal.devices.bridge.LongPolling] - Sending long poll request

2021-10-03 17:32:16.126 [TRACE] [ernal.devices.bridge.BoschHttpClient] - Create request for http clien

[2021-10-03 15:44] xxthunder commented on #109
Sorry, I am not able to properly format my log file content here ... 🤔

@coeing Now we wait until something bad happens?

[2021-10-03 19:04] coeing commented on #109
Hi @xxthunder,

Thanks a lot for your help! :) Your logs look promising. It looks like the info about the moving of your shutters arrived:

[code]

It's stranged that it did nothing to the state of the handler. I will look into it.

[2021-10-03 19:16] coeing commented on #109
@csprang @xxthunder It would be great if you could try again with this version: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.2-bugfix.109.1 I added some logs to get more information about where the state update gets stuck.

[2021-10-04 06:58] xxthunder commented on #109
@coeing Wow, thanks for the quick update ... here my latest log, I opened and close a window and applied the shutter via in-wall switch again:
[openhab.log](https://github.com/stefan-kaestle/openhab2-addons/files/7275986/openhab.log)

[2021-10-04 13:22] csprang commented on #109
@coing, Sorry for Not responding long  time… I don‘t have access to my OpenHAB Environment at the Moment, but try ist as soon I have the access reestablished, best regards

[2021-10-05 18:13] xxthunder commented on #109
@coeing Of course, when you measure and trace nothing happens, till now everything looks fine. OpenHAB receives a lot of data from my SHC and is polling every 20 seconds. Stay tuned. 😄

[2021-10-07 17:27] coeing commented on #109
@csprang No problem for the delay, I know we all do it in our free time. And sometimes there's just to little of it :)

@xxthunder Thanks a lot for testing, this really helps!

I changed a tiny piece which might be the root of the bug. Please try out the new version and let me know if the bug still occurs: https://github.com/stefan-kaestle/openhab2-addons/releases/tag/v1.2-bugfix.109.2

[2021-10-07 18:12] xxthunder commented on #109
@coeing you are welcome, I would love to do more, but as you said, so much to code, so little time. Will try your patch release this weekend.

[2021-10-12 18:37] jensflorian opened #110 "Support for Thermostat SilentMode"
The latest firmware update has added another channel to the Bosch Smart Home Thermostat.
In addition to ChildLock it has now support for silent operation of the valve tappet (this however increases battery usage).

Unfortunately there is no updated information available at https://apidocs.bosch-smarthome.com/local/
The new service is located /services/SilentMode/state and can be viewed via postman

[2021-10-28 06:41] xxthunder commented on #109
@coeing Sorry, vacation and family time ... so far everything worked fine, even without your latest bugfix snapshot. Updated 5 seconds ago, stay tuned. 😄

[2021-10-28 17:16] coeing opened #111 "Changelog shouldn't be part of the Readme"
https://github.com/openhab/openhab-addons/pull/11134#discussion_r735094443

[2021-10-28 17:17] coeing opened #112 "JSON data shouldn't be dumped into the logs"
https://github.com/openhab/openhab-addons/pull/11134#discussion_r735094688

[2021-10-28 18:07] #111 closed, assigned to coeing

[2021-10-28 18:34] #112 closed, assigned to coeing

[2021-11-03 21:38] coeing commented on #109
@xxthunder No problem, thanks for testing! I will close the issue for now, please let us know if the bug still occurs :)

[2021-11-03 21:38] #109 closed, assigned to coeing

[2021-11-03 21:39] coeing commented on #106
Yay, it's merged! :) https://github.com/openhab/openhab-addons/pull/11134

[2021-11-03 21:39] #106 closed

[2021-11-05 10:42] limebond commented on #109
Hey there - im not sure if that issue is identical with this resolved one - so please let me know if i should open a new one..
I also got the issue that "over night" anything happends so every bosch item stops reporting their values.. my grafana show that mostly during the night at 00:30 bosh just stops working (but only inside of OH - in the app everything works as it should..)

Afterwards you'll

[2021-11-09 08:32] coeing opened #113 "Null Pointer Exception during long polling"
Hey there - im not sure if that issue is identical with this resolved one - so please let me know if i should open a new one..
I also got the issue that "over night" anything happends so every bosch item stops reporting their values.. my grafana show that mostly during the night at 00:30 bosh just stops working (but only inside of OH - in the app everything works as it should..)

Afterwards you'll

[2021-11-09 08:35] coeing commented on #113
@limebond Thanks for the report! :)

Looks like your alarm system is armed at 00:30 and sends an update to openHAB. But the alarm system is not bound to a specific device, so it has no device id and sends a null pointer. This special case is not handled yet in our plugin but should be easy to fix.

[2021-12-13 11:16] coeing opened #114 "Looking for developers!"
Hey there!

Hope you all have a nice Christmas time in those uncertain times!

Now that a new version of our binding was merged into the openHAB main branch I decided to stop my development in this project. Main reason is that I am not actively using openHAB right now. I am still planning to make my home smarter by setting up a real openHAB solution, but until then it makes no sense for me to help

[2021-12-13 11:57] stefan-kaestle commented on #114
Thanks for your help Christian, much appreciated.

I also wish you and your family a happy Christmas. Take care of yourself!

[2021-12-15 19:15] GerdZanker commented on #114
Hello @coeing,

thank you for pushing the opehab binding for Bosch SmartHome forward! I really appreciated your energy and stamina in each and every related pull request.

All the best for Christmas and happy coding,
Gerd

[2021-12-26 17:10] jensflorian commented on #103
I can confirm, the Wall thermostat can also used to read temperature and humidity from a 230V floor heating controller.

[2021-12-26 17:17] jensflorian opened #115 "New channel (child lock state) is missing after binding upgrade"
With OpenHab 3.2 the BSH binding introduced the Child-lock state channel to the thermostats.
Unfortunately, the new channels don’t appear in the UI. The new channel will appear on newly-created thermostats.

For a possible solution: See also: https://community.openhab.org/t/adding-new-channels-to-binding/110877

[2022-01-08 17:27] moritzbeck13 opened #116 "Support of Bosch Universal Switch (Flex)"
Is the [Bosch Universal Switch (Flex)](https://www.bosch-smarthome.com/de/de/produkte/bedienelemente-und-zubehoer/universalschalter/) currently supported?
The openHAB documentation only mentions in-wall switches and plugs (which additionally also measure power and energy usage). I also couldn't find any other smart home solution that seems to support it.

If not, is it possible to support it? Or i

[2022-01-13 18:49] GerdZanker commented on #116
Hello @moritzbeck01,

currently there is no support for the Universal Switch. This devices is also missing in the list of my own smart home devices. Therefore we need a contribution from the community, beause I can't develop and test it.

But you could give the in-wall switch a try. If the API for the Universal Switch communication is the same as for the in-wall switch it could work.

[2022-01-18 21:27] moritzbeck13 commented on #116
Hey @GerdZanker, thanks for the answer!

If I decide to buy it I certainly would be willing to give it a try, but are there even any hints in the API of it being supported at all? The latest change to the repo here on GitHub is from January 2021, so I have some concerns regarding that.

I also thought about using the in-wall switch instead, but when I just need a switch to control a virtual device

[2022-08-18 14:29] #116 closed, assigned to nobody